.wpk-campaigns-grid {
	.wpk-campaign {
		margin-bottom: 40px;
		.wpk-campaign-inner {
			font-family: 'Prompt';
			.wpk-campaign-image {
				display: block;
				width: 100%;
				height: 250px;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				@include horizontal_vertical_center();
				background: $light_grey;
				position: relative;
				img {
					display: block;
					max-height: 100%;
					width: auto;
				}
				.wpk-campaign-duration {
					background: $main_red;
					padding: 10px;
					position: absolute;
					left: 15px;
					bottom: 20px;
					font-weight: 300;
					text-align: center;
					letter-spacing: .5px;
					color: $white;
					&::before {
						content: '\E916';
						display: inline-block;
						font-family: 'Material Icons';
						float: left;
						position: relative;
						bottom: 1px;
						margin-right: 5px;
					}
				}
				&:hover{
					* {
						text-decoration: none;
						color: $white;
					}
				}
			}

			.wpk-element-actions{
				.wpk-view{
					i::after{
						content: 'remove_red_eye'
					}
				}

				.wpk-edit{
					i::after{
						content: 'edit';
					}
				}
			}

			.wpk-campaign-data {
				border: 1px solid $light_grey;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				.wpk-campaign-post {
					padding: 10px;
					.wpk-campaign-title, .wpk-campaign-status {
						text-align: center;
					}
					.wpk-campaign-title {
						margin-bottom: 10px;
						text-transform: none;
					}
					.wpk-campaign-status {
						color: $text_grey;
					}
				}
				.wpk-campaign-link {
					padding: 20px;
					border-top: 1px solid $light_grey;
					text-align: center;
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 20px;
					color: $black;
					display: block;
					@include red_background_hover();
					&:hover {
						text-decoration: none;
					}
					.wpk-campaign-link-icon {
						position: relative;
						top: 6px;
					}

				}

			}
		}
	}
}