.wpk-pie, .wpk-bar{
	min-height: 350px;
}

.wpk-pie{
	&.wpk-hide-label{
		svg > g:first-of-type text, svg > g:nth-of-type(2) text{
			display: none;
		}
	}
}

.wpk-pie-legend{

	&, .wpk-legend-item {
		display: flex;
		align-items: center;
	}

	.wpk-pie-legend{
		margin-top: 20px;
	}

	.wpk-legend-item{
		margin-right: 10px;
		text-transform: lowercase;
	}

	.wpk-legend-color{
		width: 20px;
		height: 20px;
		display: inline-block;
		margin-right: 10px;

	}

}

div.google-visualization-tooltip{
	-webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
	font-family: 'Prompt';
	font-weight: 200;
	padding: 0 15px;
	opacity: 0.9;

}