.wpk-company.wpk-element{
	height: 450px;
	.wpk-company-inner{
		height: 100%;
	}

	.wpk-company-logo, .wpk-company-title{
		height: 115px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0;
	}

	.wpk-company-logo{
		img{
			max-height: 100%;
			width: auto;
		}
	}

}