.wpk-date-range-tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@media(max-width: $tablet_small){
		max-width: 300px;
		margin: 0 auto;
	}
	.wpk-date-tab {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		background: white;
		padding: 15px 10px;
		border: 1px solid #eeeeee;
		border-radius: 10px;
		width: 115px;
		@include red_background_hover();
		.wpk-tab-icon {
			font-size: 35px;
			text-align: center;
		}
		.wpk-tab-thin {
			text-transform: uppercase;
			color: #A4A4A4;
			font-size: 13px;
			text-align: center;
			letter-spacing: .5px;
			@include transition(none);

		}
		.wpk-tab-icon {
			font-size: 35px;
			text-align: center;
		}
		.wpk-tab-bold {
			font-weight: 500;
			text-align: center;
			font-size: 20px;
		}
		&:hover {
			.wpk-tab-thin {
				color: $white;
			}
		}
	}

	.wpk-date-tab-separator {
		i {
			font-size: 20px;
		}
	}

}