.wpk-elements-grid {
	clear: both;
	position: relative;
	top: 20px;
	min-height: 600px;
	.wpk-error-message {
		margin: 0 18px;
	}
}

.wpk-element {
	.wpk-loader {
		z-index: 99999999;
	}
	.wpk-notice {
		margin-left: 10px;
	}
	.wpk-tooltip {
		margin-top: 20px;
		max-width: 350px;
		.wpk-tooltip-text {
			white-space: pre-wrap;
		}
	}
	margin-bottom: 40px;
	cursor: pointer;
	.wpk-element-inner {
		font-family: 'Prompt';
		.wpk-element-image {
			display: block;
			width: 100%;
			height: 250px;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			@include horizontal_vertical_center();
			background: $light_grey;
			img {
				display: block;
				max-height: 100%;
				width: auto;
				object-fit: cover;
			}
		}

		.wpk-element-separator {
			height: 1px;
			max-width: 50px;
			background: $main_red;
			margin: 5px auto;
		}
		margin: 0 auto;
		text-align: center;
		.wpk-element-logo {
			img {
				max-height: 100px;
				width: auto;
			}
		}
		.wpk-element-title {
			font-size: 20px;
			text-align: center;
			padding: 10px;
			font-weight: 300;
			display: flex;
			justify-content: center;
			.wpk-instagram-username {
				&::before {
					background: url(../images/instagram_logo.png);
					content: '';
					height: 29px;
					background-repeat: no-repeat;
					width: 29px;
					display: block;
					float: left;
					background-size: contain;
					margin-right: 10px;
				}
			}
		}
		.wpk-element-metas {
			color: #ACACAC;
			font-size: 12px;
			letter-spacing: 1px;
			.wpk-element-meta-row {
				display: flex;
				justify-content: center;
				.wpk-element-meta {
					margin: 5px 0;
				}
				> span:not(:first-of-type)::before {
					content: '';
					display: block;
					font-size: 30px;
					width: 3px;
					height: 3px;
					border: #ACACAC;
					border-radius: 50%;
					background: #ACACAC;
					float: left;
					margin: 8px;
				}
			}
		}
		.wpk-element-data {
			border: 1px solid $light_grey;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			.wpk-element-post {
				padding: 10px;
				.wpk-element-title, .wpk-element-status {
					text-align: center;
				}
				.wpk-element-title {
					margin-bottom: 10px;
				}
				.wpk-element-status {
					color: $text_grey;
				}
			}
			.wpk-element-link {
				padding: 20px;
				border-top: 1px solid $light_grey;
				text-align: center;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				color: $black;
				display: block;
				@include red_background_hover();
				&:hover {
					text-decoration: none;
				}
				.wpk-element-link-icon {
					position: relative;
					top: 6px;
				}

			}

		}

		.wpk-element-actions {
			display: flex;
			flex-wrap: wrap;
			margin-top: 10px;
			cursor: pointer;
			> :not(:first-child) {
				border-left: 1px solid #EAEAEA;
			}
			> :first-child:not(:last-child) {
				border-bottom-left-radius: 25px;
			}
			> :first-child:last-child {
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
			}
			> :nth-child(2) {
				border-bottom-right-radius: 25px;
			}
			.wpk-element-action {
				color: $black;
				text-decoration: none;
				padding: 15px 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-grow: 1;
				border-top: 1px solid #EAEAEA;
				@include red_background_hover();
				> span {
					display: inherit;
				}
				.wpk-action-icon {
					margin-right: 5px;
				}
				.wpk-action-label {
					text-transform: uppercase;
				}
			}

			.wpk-action-icon {
				.material-icons {
					&::after {
						width: 23px;
						height: 26px;
						direction: ltr;
						display: inline-block;
						font-family: Material Icons;
						font-size: 24px;
						font-style: normal;
						font-weight: normal;
						letter-spacing: normal;
						line-height: 1;
						text-transform: none;
						white-space: nowrap;
						word-wrap: normal;
						-webkit-font-feature-settings: 'liga';
						-webkit-font-smoothing: antialiased;
					}
				}
			}
		}
	}
}