.wpk-horizontal-sections {
	display: flex;
	@media(min-width: $tablet_small){
		flex-direction: column;
	}
	@media(max-width: $tablet_small){

		z-index: 999999;
		-webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
		left: auto;
		position: absolute;
		top: -55px;
		width: 100vw;
		right: -20px;
		margin: 0;
		padding: 0;
		height: 61px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $white;
		&.wpk-adjusted{
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
	align-items: flex-end;
	justify-content: center;
	padding: 30px 0;
	/*position: fixed;
	left: 236px;*/
	.wpk-section {
		height: 20px;
		width: 20px;
		@media(min-width: $tablet_small) {
			border-radius: 50%;
			position: relative;
			border: 2px solid $main_red;
		}
		@media(max-width: $tablet_small){
			width: 30%;
			height: 1px;
			text-align: center;
			&::before{
				text-transform: uppercase;
				position: relative;
				bottom: 10px;
			}
		}
		@include transition(all .3s);
		cursor: pointer;
		&.wpk-active, &:hover {
			@media(min-width: $tablet_small){
				background: $main_red;
			}


		}
		&.wpk-active{
			@media(max-width: $tablet_small){
				&::before{
					border-bottom: 2px solid $main_red;
				}
			}
		}
		&::before {
			content: attr(data-title);
			@media(min-width: $tablet_small) {
				position: absolute;

				right: 30px;
				top: -3px;
			}
			white-space: nowrap;

		}
	}
	.wpk-section-separator {
		width: 4px;
		height: 130px;
		margin-right: 8px;
		background: $main_red;
		@media(max-width: $tablet_small){
			display: none;
		}
	}
}