.wpk-influencers-grid {
	  clear: both;
	  position: relative;
	  top: 20px;
	  min-height: 600px;
	.wpk-error-message{
		margin: 0 18px;
	}
	.wpk-loader{
		z-index: 99999999;
	}
	  .wpk-influencer {
		  cursor: pointer;
		  .wpk-influencer-title {
			  font-size: 20px;
			  text-align: center;
			  padding: 10px;
			  font-weight: 300;
			  display: flex;
			  justify-content: center;
			  .wpk-instagram-username {
				  &::before {
					  background: url(../images/instagram_logo.png);
					  content: '';
					  height: 29px;
					  background-repeat: no-repeat;
					  width: 29px;
					  display: block;
					  float: left;
					  background-size: contain;
					  margin-right: 10px;
				  }
			  }
		  }

	  }
  }