.wpk-collaborate-thankyou{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	.linear-icon{
		font-size: 90px;
		color: $main_red;
	}
	.material-icons{
		font-size: 20px;
		margin-left: 5px;
		position: relative;
	}
	h2{

	}

	h3{
		color: $main_red;
	}

	h2,h3, a{
		font-weight: 300;
	}

	a{
		@include horizontal_vertical_center();
		margin-top: 20px;
		color: #b17373;
		font-weight: 400;
		&:hover{
			text-decoration: none;
		}
	}
}