.wpk-influencer-popup {
	padding: 40px;
	font-family: 'Prompt';
	.wpk-tooltip-top {
		top: -108% !important;
		padding-left: 15px;
		padding-right: 15px;
	}
	.wpk-tooltip {
		top: 55px !important;
	}
	.wpk-influencer-popup-actions {
		margin-bottom: 40px;
		display: flex;
		justify-content: space-between;
	}
	.wpk-popup-navigation {
		width: 50%;
		display: flex;
	}
	.wpk-influencer-actions {
		display: flex;

	}

}

.wpk-influencer-modal {

	.wpk-influencer-action {
		.material-icons {
			&::after {
				width: 24px;
				height: 20px;
				direction: ltr;
				display: inline-block;
				font-family: Material Icons;
				font-size: 24px;
				font-style: normal;
				font-weight: normal;
				letter-spacing: normal;
				line-height: 1;
				text-transform: none;
				white-space: nowrap;
				word-wrap: normal;
				-webkit-font-feature-settings: 'liga';
				-webkit-font-smoothing: antialiased;

			}
		}

	}

	@media(max-width: $tablet_small) {
		.wpk-border-round-button {
			margin: 0 auto;
			margin-left: 5px;
			margin-right: 5px;
		}
		.wpk-influencer-details {
			flex-wrap: wrap;
			border: none;
			.wpk-influencer-detail {
				flex-wrap: wrap;
				justify-content: center;
				.wpk-influencer-avatar {
					width: 100%;
					text-align: center;
					margin: 0;
					img {
						max-width: 90px;
					}
				}
			}
			.wpk-influencer-stats {
				align-items: center;
				justify-content: space-around !important;

				.wpk-influencer-tab {
					width: 40%;
					padding: 40px 10px !important;
					margin-bottom: 10px;
					text-align: center;
				}
			}
			.wpk-influencer-personal-info {
				text-align: center;
				margin-bottom: 30px;
			}
			.wpk-influencer-metas {
				.wpk-influencer-meta {
					font-size: 13px;
				}
			}
		}
	}

	.wpk-influencer-insights {

		.wpk-influencer-insight {
			border-right: 1px solid $sidebar_border;
			height: 100%;
			padding: 30px;
			overflow: hidden;
			position: relative;
			&:first-child {
				padding-left: 0;
			}
		}

		.wpk-insight-filters {
			button {
				padding: 10px 30px;
			}
		}

		.wpk-insight-title {
			display: flex;
			right: 3px;
			position: relative;
			margin-bottom: 20px;
			h4 {
				font-weight: 200;
			}
			i {
				font-size: 30px;
				margin-right: 10px;
			}
		}
	}
}