.wpk-filter-container {
	.wpk-gender-filter {
		.wpk-button {
			margin: 0;
			margin-right: 20px;
		}
	}
	input {

	}
	.wpk-range-container {

		left: 11px;
		width: 97% !important;
	}

	.wpk-select2-container {
		.select2-container {
			.select2-selection__choice {
				padding: 0px !important;
				color: $black !important;
				min-width: 92px;
				text-align: center;
				margin-left: 10px !important;
				bottom: 5px;
				position: relative;
				span.select2-selection__choice__remove {
					width: 100%;
					content: '';
					color: grey;
					position: absolute;
					margin: 0;
					padding: 0;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					&::after {
						content: '';
					}
				}
			}
		}
	}
}

.wpk-campaign-notice {
	background: #f9f5f5;
	padding: 15px;
	font-size: 16px;

    display: flex;
    justify-content: space-between;
	.wpk-notice-close {
	}
}

.page-template-edit_campaign #wpk_form .wpk-search-icon .select2-container::after {
	bottom: 8px;
}

.wpk-influencers-filters {
	.wpk-mobile-section {
		@media(min-width: $tablet_small) {
			&, + .wpk-sidebar-separator {
				display: none;
			}
		}
		.wpk-filter-mobile-activator {
			background: $white;
			padding: 10px;
			text-align: center;

			i {
				position: relative;
				top: 6px;
				transition: all .3s;
				&.wpk-open {
					transform: rotate(90deg);
				}
			}
		}
	}
	.wpk-location{
		background: transparent !important;
	}
}