.wpk-element-action, .wpk-influencer-action, .wpk-border-round-button{

	&[data-action="invite"], &[data-action="accept"] {
		i::after {
			content: 'check'
		}
	}

	&[data-action="uninvite"] {
		i::after {
			content: 'undo';
		}
	}

	&[data-action="skip"], &[data-action="unskip"] {
		i::after {
			content: 'close'
		}
	}

	&[data-action="bookmark"] {
		i::after {
			content: 'bookmark_border';
		}
	}

	&[data-action="unbookmark"] {
		i::after {
			content: 'bookmark';
		}
	}

	&[data-action="declined"] {
		i::after {
			content: 'block';
		}
	}

	&[data-action="will_be_added"] {
		i::after {
			content: 'calendar_today';
		}
	}


	&[data-action="will_be_added"] {
		i::after {
			content: 'calendar_today';
		}
	}

	&[data-action="collaborate"] {
		i::after {
			content: 'message';
		}
	}

	&[data-action="collaboration_sent"] {
		i::after {
			content: 'done';
		}
	}

	&[data-action="in_campaign"] {
		i::after {
			content: 'favorite';
		}
	}


}