.wpk-ig-title{
	width: 100%;
	text-align: center;
}

.wpk-ig-accounts{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;


	li{
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		margin: 10px;
		padding: 20px;
		text-align: center;
		@include transition(all .3s);
		cursor: pointer;

		&:hover{
			background: $sidebar_tab_active;
		}

		.wpk-ig-avatar{
			max-width: 150px;
		}

		.wpk-ig-name{
			margin-left: 20px;
		}
	}
}