.wpk-media-grid{
	min-height: 400px;
	padding: 10px;
	.wpk-instagram-media{
		padding: 0;
		img{
			@include transition(all .9s);
		}
	}
	/*display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	.wpk-media {
		width: 30%;
		margin: 10px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}*/
}