.wpk-pagination {
	&.wpk-infinite-scroll {
		opacity: 0;
	}
	justify-content: center;
	display: flex;
	a, span {
		color: $black;
		margin: 0 10px;
		width: 30px;
		height: 30px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		@include transition(all .3s);
		&:hover, &.current {
			background: $main_red;
			color: $white;
			text-decoration: none;
		}
	}
}