.wpk-suggestions {
	position: absolute;
	background: $sidebar_bg;
	width: 100%;
	padding: 10px 40px;
	z-index: 2;
	list-style: none;

	li {
		cursor: pointer;

		a {
			color: $black;

			&:hover{
				text-decoration: none;
			}
		}
	}
}