.wpk-accordion {
	.wpk-accordion-status {
		position: relative;
		top: 7px;
	}
	.wpk-accordion-title {
		cursor: pointer;
		padding: 12px 30px !important;
		color: #7E7E7E;
		user-select: none;
		> span {
			position: relative;
			bottom: 5px;
			display: inline-block;
			width: 97%;
			&::after {
				content: '\E5C5';
				font-size: 24px;
				position: relative;
				font-family: 'Material Icons';
				top: 7px;
			}
		}
		&.wpk-active {
			color: $black;
			> span {
				&::after {
					content: '\E5C7';
				}
			}
		}
	}
	.wpk-accordion-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		//max-height: 250px;
		overflow-y: auto;
		margin-bottom: 0;
		li {
			margin-bottom: 20px;
			a {
				display: flex;
				align-items: center;
				color: #666666;
				&:first-of-type {
					margin-top: 20px;
				}
				.wpk-list-thumbnail {
					float: left;
					width: 30px;
					height: 30px;
					margin-right: 10px;
					background: $placeholder_bg;
					border-radius: 50%;
					img {
						height: 100%;
						width: 100%;
						border-radius: 50%;
						object-fit: contain;
					}
				}
			}
		}
	}

}

.wpk-conversations-sidebar {
	.wpk-active ~ .wpk-sidebar-separator {
		display: none;
	}
	.wpk-search-icon {
		input{
			background: transparent;
		}
		&::after {
			bottom: 8px;
		}
	}
	.wpk-accordion {
		.wpk-accordion-title {
			padding: 0 !important;
			> span {
				padding: 5px 15px;
				margin-bottom: 5px;
				position: relative;
				bottom: 5px;
				display: inline-block;

			}
			li {
				margin-bottom: 5px;
				padding-left: 10px;
				a {
					margin: 10px 0;
					.wpk-list-title {
						margin-left: 10px;
					}
					.wpk-list-thumbnail {
						position: relative;
						margin-right: 0px;
					}
				}
			}
		}
		.wpk-new-conversation {
			padding: 0 !important;
			a {
				padding: 7px 0;
				&:hover {
					text-decoration: none;
				}
				.wpk-circle {
					display: flex;
					align-items: center;
				}
				.wpk-list-title {
					span {
						padding: 0;
						margin: 0;
						margin-left: 5px;
						bottom: 0;
					}
				}
			}
			&::after, &::before {
				height: 1px;
				display: block;
				content: '';
				background: #eee;
				width: 100%;
				position: absolute;
				left: 0;
			}
		}
	}
	> .wpk-accordion-title > span {

	}
	.wpk-active > .wpk-sidebar-separator {
		//display: none;
	}
}
