$bg: #333333;
.wpk-calendar-container {
	position: relative;
	@media(max-width: $tablet_small){
		right: 8px;
	}
	@media(max-width: $phone){
		right: 15px;
	}
	&.wpk-no-dropdown{
		.datepicker{
			&::after, &::before{
				display: none;
			}
		}
	}
	.datepicker {
		background: $bg;
		color: $white;
		.datepicker-switch, .next, .prev, tfoot tr th {
			@include red_background_hover();
		}
		&::after {
			border-bottom: 6px solid $bg;

		}
		table {
			th {
				vertical-align: middle !important;
			}
			tr td {
				&.day, .month.focused, span, span.active {

					@include red_background_hover();

				}
				&.focused, &.active, .focused, .active, span.active {
					background: $main_red;

				}
			}
		}
		&.datepicker-orient-right {
			&::after {
				right: 22px;
				border-bottom: 6px solid $bg;

			}
			&::before {
				content: '';
				display: none;
			}
		}

	}
	.wpk-calendar {
		font-family: 'Prompt';
		background: $bg;
		margin-top: -5px;
		position: absolute !important;
		padding: 10px;
		.pika-select {
			//display: none;
		}
		&::after {
			content: '';
			position: absolute;
			top: -16px;
			right: 42%;
			z-index: 999999999999;
			width: 0;
			border: 10px solid transparent;
			border-bottom: 12px solid $bg;
			transition: top 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transition-delay: .2s;
			display: block;
			height: 0;
		}
		.pika-title[role=heading] {
			border-bottom: 1px solid #474848;
			height: 35px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.pika-label {
			background: $bg;
			color: #8D8D8D;
			font-weight: 200;
			overflow: visible;
		}
		abbr {
			text-decoration: none;
			font-weight: 200;

		}
		button {
			color: $bg;
			background: transparent;
			overflow: visible;
			outline: none;
			&.pika-next, &.pika-prev {
				text-indent: -9999px !important;
			}
			&.pika-next {
				&::before {
					content: '\E315';
					font-family: 'Material Icons';
					color: white;
					display: block;
					position: absolute;
					float: left;
					/*right: 25px;*/
					text-indent: 0;
				}
			}
			&.pika-prev {
				&::before {
					content: '\E314';
					font-family: 'Material Icons';
					color: white;
					display: block;
					position: absolute;
					top: 4px;
					text-indent: 0;
				}
			}
		}
		.pika-table {
			th {
				color: $white;
			}
			.pika-button {
				background: $bg;
				color: $white;
				text-align: center;
				width: 30px;
				height: 30px;
				border-radius: 50% !important;
				font-weight: 200;
				&:hover {
					background: $main_red;
				}
			}
			.is-selected {
				.pika-button {
					background: $main_red;
					box-shadow: none;

				}
			}
			.is-disabled {
				.pika-button {
					background: transparent;
				}
			}
		}
	}
}