/* Contains general styles that applies to whole site */
$padding: 40px 50px;
html {
	overflow-x: hidden;
	height: 100%;
}

body {
	min-height: 100%;
	//opacity: 0;
	@include transition(opacity .3s);
}

.mkd-page-header {
	user-select: none;
}

.wpk-opacity {
	opacity: 1 !important;
}

.mkd-smooth-transition-loader {
	background: $white;
}

.mkd-wrapper, .mkd-wrapper-inner, .mkd-content {
	height: 100%;
}

.mkd-content {
	margin-top: 0 !important;
}

.wpk-wrap {
	min-height: 100vh;
	font-family: 'Prompt';
	margin: 0;
}

.wpk-float-left {
	float: left;
}

.wpk-float-right {
	float: right;
}

.wpk-uppercase {
	text-transform: uppercase;
}

.wpk-cursor-wait {
	cursor: wait;
}

.wpk-flex {
	display: flex !important;
}

*, *:focus, *:active, *:hover {
	outline: none;
}

.wpk-full-width {
	width: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wpk-relative {
	position: relative;
}

.wpk-align-center {

	display: flex;
	justify-content: center;
	align-items: center;

}

.wpk-loader {
	position: absolute;
	top: 0;
	cursor: initial;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999999;
	background: rgba(255, 255, 255, 0.5);

	.wpk-loader-message{
		position: absolute;
		top: 60%;
		text-align: center;
		z-index: 2100;
		width: 100%;
		color: $black;
		font-size: 24px;
	}
}

.wpk-loader-fade {
	opacity: 0.5;
}

.wpk-wrap {
	.wpk-wrap-inner {
		padding: $padding;
		@media(max-width: $tablet_small) {
			padding: 10px 20px;
		}

	}
}

.wpk-hidden {
	display: none !important;
}

#mkd-back-to-top span span {
	background: $black;
}

.wpk-disabled {
	cursor: not-allowed !important;
}

.wpk-hide-fade {
	transform: translateY(-10px);
	opacity: 0;
}

.wpk-notice-close {
	cursor: pointer;
}

.wpk-image-loaded {
	opacity: 0;
	visibility: hidden;

}

#mkd-back-to-top {
	&:hover {
		text-decoration: none;
	}
	z-index: 9999999;
	span {
		background: none !important;
		span {
			background: $main_red !important;
			border-radius: 50%;
		}
	}
}

.wpk-item-actions {
	.wpk-button {
		padding: 12px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $main_red;
		color: $white;
		i {

			margin-right: 5px;
			margin-left: 5px;
			&:last-child {
				margin-left: 5px;
			}
		}
		&:hover {
			background: $main_red;
			color: $white;
		}
		margin-left: 10px;
		.wpk-tooltip {
			margin-top: 27px;
		}
	}

}

@media (min-width: 1200px) {
	.col-xl-4 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width: 1500px) {
	.col-xl-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}

.wpk-circle-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000000;
	&.wpk-full-icon {
		height: 100vh;
		width: 100%;
	}
	.wpk-circle {
		width: 100px;
		border: 1px solid $main_red;
		border-radius: 50%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include transition(all .3s);

		&, i {
			line-height: inherit;
			font-size: 50px;
		}
		.wpk-circle-inner{
			display: flex;
		}

		span {
			font-size: 40px;
			color: $main_red;
		}
		&:hover {
			background: $main_red;
			color: $white;
			text-decoration: none;
			span {
				color: $white;
			}
		}
	}
	&:hover {
		text-decoration: none;
		color: inherit;

		.wpk-message {
			color: $black;
		}
	}
}

.wpk-hidden {
	display: none;
}

.wpk-notice {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	position: relative;
	color: $main_red;
	top: 5px;
	.wpk-tooltip {
		width: 350px !important;
		@media(max-width: $tablet_small) {
			display: none;
		}
		.wpk-tooltip-text {
			white-space: normal !important;
		}
		&::after {
			left: 13px !important;
			bottom: 97% !important;
		}
	}
}

.wpk-elements-grid .wpk-loader {
	z-index: 999;
}

@media(min-width: 767px) and (max-width: 1023px) {
	.col-md-8 {
		flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		max-width: 100%;
	}
	.col-md-4 {
		flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		max-width: 100%;
	}
}

.page-template-new_campaign > .select2, .page-template-new_campaign > select#city, .page-template-edit_campaign > .select2 {
	display: none;

}

.wpk-display-influencer-modal{
	cursor: pointer;
}

.wpk-link{
	&, &:hover{
		color: $main_red;
	}
}

blockquote{
	border-left: 2px solid $main_red !important;
	text-indent: 10px;
}