.mkd-sticky-header{
	display: none;
}

.mkd-mobile-header{
	display: none !important;
}



.mkd-page-header {
	z-index: 999;
	.mkd-menu-area{
		height: 80px !important;
	}

	.mkd-grid {
		width: 96%;
		.mkd-content {
			margin-top: 0 !important;
		}
		.mkd-position-center {
			width: 80%;
			left: 100px;
			height: 80%;
			margin-top: 19px;
			.mkd-position-center-inner {
				float: left;
				width: 100%;
				text-align: left;
				.mkd-main-menu{
					width: 100%;
				}
			}
		}
	}
	#menu-wpk-menu{
		width: 100%;
		> .menu-item {
			text-transform: uppercase;
			text-align: center;
			width: auto;
			span{
				color: $white;
				font-weight: 500;
				letter-spacing: 1px;
			}
			> a .mkd-item-text::after {
				width: 100%;
				content: '';
				background: white;
				height: 2px;
				clear: both;
				display: block;
				transition: all .3s;
				transform: scale(0, 0);
				margin-top: 5px;
			}
			&:hover, &.mkd-active-item{
				span{
					color: $white;
				}
				.mkd-item-text::after{
					transform: scale(1, 1);
				}
			}
		}
	}

}

@media(max-width: $tablet_small){
	.header-widget-area{
		position: relative;
		bottom: 4px;
		left: 8px;
	}
	.mkd-page-header .mkd-menu-area{
		height: 59px !important;
	}
	.mkd-page-header{
		display: block;
		.mkd-position-left{
			&.wpk-has-accordion{
				width: 50%;
				.mkd-position-left-inner{
					    width: 100%;
					    height: 100%;
    float: left;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
					.wpk-sidebar-activator{
						float: left;
						transform: rotate(90deg);
						font-size: 20px;
						position: relative;
						right: 4px;
						@include transition(all .3s);
						&.wpk-active{
							transform: rotate(0deg);
						}

					}
				}
			}
		}
		.mkd-position-center{
			float: left;
			margin: 0;
			left: 0 !important;
			position: fixed;
			background: $main_red;
			height: 50px !important;
			bottom: 0;
			width: 100% !important;
			.mkd-position-center-inner{

				nav{
					ul{
						display: flex;
						justify-content: center;
						li{
							width: 30% !important;
							a{
								font-size: 10px !important;
								&, span{
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
	}
}