/*Mixins*/

@mixin input-label($max-width) {
	text-transform: none;
	text-shadow: none;
	position: relative;
	width: 100%;
	max-width: $max-width;
	color: #545454;
	line-height: 1;
	padding: 0px 0px 5px;
	border-bottom: 2px solid #1175b8;
	margin-bottom: 8px;
	display: inline-block;
	font-size: 17px;
	font-family: inherit;
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin wpk-flex($column, $wrap, $el, $child_width) {
	display: flex;
	@if ($wrap == 'wrap') {
		flex-wrap: wrap;
	> $el {
		width: $child_width
	}
	}
	flex-direction: $column;
}

@mixin center {
	margin: 0 auto;
	float: none;
	display: block;
	clear: both;
}

@mixin position($pos : relative ,$top: 0, $bottom: 0, $left: 0, $right: 0) {
	position: $pos;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
	@include pseudo($pos: $position);
	width: 0;
	height: 0;
	@if $round {
		border-radius: 3px;
	}
	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
		margin-top: 0 - round( $size / 2.5 );
	} @else if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		margin-bottom: 0 - round( $size / 2.5 );
	} @else if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
		margin-right: -$size;
	} @else if $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
		margin-left: -$size;
	}
}

@mixin input-placeholder {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;

}

.icon-animation-wrapper {
	position: relative;
	background: transparent;
	margin: 0 auto 25px;
	display: block;
}

@mixin plus_circle($size, $font_size : 40px) {
	width: $size;
	border: 1px solid $main_red;
	border-radius: 50%;
	height: $size;
	display: flex;
	align-items: center;
	justify-content: center;
	@include transition(all .3s);
	span {
		font-size: $font_size;
		color: $main_red;
	}

	&:hover {
		background: $main_red;
		border: 1px solid $white;
		span {
			color: $white;
			text-transform: none;
		}
	}
}

@mixin horizontal_vertical_center($direction: row) {
	display: flex;
	flex-direction: $direction;
	align-items: center;
	justify-content: center;
}

@mixin red_circle($size) {
	width: $size;
	height: $size;
	background: $main_red;
	border-radius: 50%;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin red_background_hover($active : false) {

	@include transition(all .3s);
	&:hover {
		background-color: $main_red;
		color: $white;
	}
	@if $active == true {
		&.wpk-active {
			background-color: $main_red;
			color: $white;
		}
	}

}