.wpk-modal, .wpk-mobile-profile {
	@include transition(all .3s);
	transition: all 0.3s;
	position: fixed;
	width: 100%;
	height: 100%;
	background: white;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	&.wpk-half-modal {
		width: 70%;
		height: 70%;
		top: 10%;
		margin: 0 auto;
		overflow: auto;
	}
	&.wpk-modal-absolute {
		position: absolute;
	}
	&.wpk-modal-relative {
		position: relative;
	}

	&.wpk-modal-transparent{
		opacity: 0.95;
	}

	&[data-type="full_under_menu_transparent"]{
		height: 100vh;
	}

	padding: 40px;
	font-family: 'Prompt';
	.wpk-tooltip-top {
		top: -108% !important;
		padding-left: 15px;
		padding-right: 15px;
	}
	.wpk-tooltip {
		top: 55px !important;
	}

	> .wpk-loader{
		height: 100vh;
	}



}

.wpk-modal-inner{
	height: 100%;
}

.wpk-navigation-actions{
	@media(min-width: $tablet_small){
		margin-bottom: 40px;
		align-self: left;
	}
	display: flex;
	justify-content: space-between;
	@media(max-width: $tablet_small){
		flex-wrap: wrap;
		//align-items: center;
		//justify-content: center;
	}
}
.wpk-navigation {
	width: auto;
	display: flex;
	margin-bottom: 10px;
}

.wpk-item-actions {
	display: flex;
	@media(max-width: $tablet_small){
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
		justify-content: center;
		.wpk-button{
			width: 100%;
			margin-bottom: 10px;
			    margin-left: 0;

		}
	}
	.wpk-loader{
		z-index: 9999;
	}
}

.wpk-modal-overlay {
	transition: all 0.3s;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99998;
}

.wpk-modal-hidden {
	opacity: 0;
	visibility: hidden;

}

.wpk-close-modal:not(.wpk-border-round-button){
	position: absolute;
	right: 22px;
	top: 14px;
	user-select: none;
	i{
		cursor: pointer;
		font-size: 35px;
	}
}
