.wpk-notification-area{
	position: fixed;
	width: 100%;
	top: 10%;
	z-index: 99999;
	right: 0;
}


.wpk-popup{
	position: relative;
	float: right;
	max-width: 30%;
	right: 0;
	min-width: 150px;
	transition: all .3s;
	opacity: .5;
	border: none;
	clear: both;

	@media(min-width:$tablet_small) {
		margin-right: -70%;

	}
	@media(max-width: $tablet_small){
		left: 0;
	}
	border-radius: 10px;
	&.wpk-popup-ready{
		opacity: 1;
		@media(min-width:$tablet_small) {
			margin-right: 8px;
		}
	}
	&.alert-error{
		background: #ff414b;
		color: $white;
	}
	&.alert-success{
		background: #64c564;
		color: $white;
	}
	.material-icons{
		float: left;
		margin-right: 10px;
	}
}
