.wpk-sidebar {
	background-color: $sidebar_bg;
	padding: 0;
	border-right: 1px solid #EEEEEE;
	.wpk-sidebar-section {
		padding: 20px 14px;
		width: 100%;
		margin: 0;
		border-left: 4px solid $sidebar_bg;
		.wpk-section-title {
			margin-bottom: 10px;
			width: 100%;
		}
		.wpk-sidebar-text {
			margin-top: 2px;
			user-select: none;
		}
		.wpk-sidebar-icon {
			margin-right: 10px;
			user-select: none;
		}
		&.wpk-return-link {
			background: #F6F6F6;
			a {
				color: $black;
				display: flex;
				justify-content: baseline;
				width: 100%;
				&:hover {
					text-decoration: none;
				}
				i {
					color: $main_red;
					margin: 0 20px;
				}
			}
		}
	}
	.wpk-sidebar-separator {
		width: 100%;
		height: 1px;
		background: #EEEEEE;

	}
	&.wpk-absolute{
		position: absolute;
		z-index: 99999;
		background: white;
		width: 90%;
		transition: all .3s;
		margin-left: -100%;
		height: 100%;
		&.wpk-visible {
			margin-left: 0;
		}
	}
}