/*

.wpk-tooltip {
	@include transition(all .3s);
	position: absolute;
	z-index: 99999;
	background: #262626;
	text-align: center;
	padding: 10px;
	width: auto;
	list-style: none;
	top: 39px;
	opacity: 0;
	right: -18px;
	color: #ffffff;
	visibility: hidden;
	border-radius: 5px;
	font-weight: 400;
	&::after {
		content: '';
		position: absolute;
		top: -16px;
		right: 1.5em;
		z-index: 999999999999;
		width: 0;
		border: 10px solid transparent;
		border-bottom: 8px solid #28292b;
		transition: top 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-delay: .2s;
		display: block;
		height: 0;
	}
}

.wpk-has-tooltip {
	position: relative;
	@include transition(all .3s);
	&:hover {
		.wpk-tooltip {
			visibility: visible;
			opacity: 1;
		}
	}
}


*/

.wpk-tooltip-target {
	position: relative;
	.wpk-tooltip {
		@include transition(all .3s);
		position: absolute;
		z-index: 99999;
		background: #262626;
		text-align: center;
		padding: 10px;
		width: auto;
		list-style: none;
		top: 39px;
		opacity: 0;
		color: #ffffff;
		visibility: hidden;
		border-radius: 5px;
		font-weight: 400;
		margin-left: -2px;
		&.wpk-tooltip-top {
			top: -300%;
			&::after {
				border-top: 8px solid #28292b;
				border-bottom: none;
				top: 96%;
				bottom: 0;
			}
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 96%;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-bottom: 8px solid #28292b;
			transition: top 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transition-delay: .2s;
			display: block;
		}
		&.wpk-tooltip-arrow-left {
			&::after {
				left: 14px;
			}
		}
		.wpk-tooltip-text {
			white-space: nowrap;
		}
	}
	&:hover {
		.wpk-tooltip {
			visibility: visible;
			opacity: 1;
		}
	}
}