$white: #ffffff;
$black: #000000;
$main_red: #F13939;
$text_grey: #888888;
$green : #40803e;
$light_grey : #f0f0f0;

$grey : #ededed;
$placeholder_bg : #f0f0f0;

/* Sidebar */

$sidebar_bg: #fcfcfc;
$sidebar_tab_active : #f3f3f3;
$sidebar_border: #eeeeee;

/* Form */

$input_border : #999999;

/* Media */

$phone_small : 375px;
$phone : 480px;
$tablet_small : 769px;
$table_big : 1024px;