.post-type-archive-campaign{

	.wpk-company-logo{
		padding-bottom: 20px;
		text-align: center;
		border-bottom: 1px solid #eeeeee;
		margin-bottom: 10px;

		img{
			max-height: 200px;
		}
	}

	.wpk-company-website{
		text-align: center;
		margin-top: 20px;
		a{
			color: $main_red;

		}
	}

	.wpk-wrap-inner{
		padding-top: 20px;
	}

}