$steps_color: #DFE2E9;
$distance: 50px;
$total_separators: 2;

.wpk-campaign-title {
	text-transform: uppercase;
	color: #666666;
	margin: 0 10px;
	font-weight: 500;
}

.wpk-my-campaigns {
	.wpk-steps-wrapper {
		@include horizontal_vertical_center();
		margin-bottom: $distance;
		margin-top: 10px;
		height: 30px;

		@media(max-width: $tablet_small) {
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
		}

		.wpk-step {
			position: relative;
			cursor: pointer;
			width: 25px;
			height: 25px;
			border: 3px solid $steps_color;
			border-radius: 50%;
			@include horizontal_vertical_center();

			i {
				color: $white;
				display: inline-block;
			}

			&:hover {
				i {
					text-decoration: none;
					text-underline: none;
				}
			}
			&.wpk-active {
				border-color: $main_red;
				color: $white;
				/*background: $main_red;*/
				i, > span {
					font-size: 20px;
					color: $white;
				}
				&:hover {
					color: $white;
					text-decoration: none;
				}
			}
			&.wpk-disabled {
				cursor: not-allowed;
			}
			&.wpk-was-active {
				background: $main_red;
				border-color: $main_red;
				&:hover {
					color: $white;
					text-decoration: none;
				}
				& + .wpk-step-separator {
					background: $main_red;
				}
				i, > span {
					font-size: 15px;
					color: $white;
				}
			}
			.wpk-tooltip {
				@media(max-width: $tablet_small) {
					display: none;
				}
			}

		}
		.wpk-step-separator {
			width: 40%;
			width: calc(33% - 25px);
			height: 3px;
			background: $steps_color;
		}
	}

}