.page-template-edit_campaign-php {
	.mkd-content, .mkd-wrapper, .mkd-wrapper-inner, .mkd-content-inner {
		height: 100%;
	}
	.wpk-wrap {
		height: 100%;
		> .col-xl-10 {
			@media(min-width: 1200px) {
				max-width: 80%;
				flex: 0 0 80%;
			}
		}
		> .col-xl-2 {
			@media(min-width: 1200px) {
				max-width: 20%;
				flex: 0 0 20%;
			}
		}
	}
	.wpk-search-icon .select2-container::after {
		bottom: 6px !important;
	}
}

.wpk-step-3, .wpk-edit-campaign {
	font-family: 'Prompt';

	&, #wpk_form {
		.wpk-quotation-mark {
			background: #888888;
			padding: 11px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: white;
			width: 20px;
			height: 20px;
			position: relative;
			left: 5px;
			font-size: 16px;
			top: 2px;
			cursor: help;
		}

		.wpk-input-container {
			margin: 20px 0;
			margin-top: 0;
			border-bottom: 1px solid $light_grey;
			width: 100%;
			.wpk-input-label {
				font-weight: 500;

				display: flex;
			}
			.wpk-input-container-inner {
				padding: 20px 0;
				width: 100%;
				input {
					color: #585858;
					width: 28%;
					@media(max-width: $tablet_small){
						width: 100%;
					}
				}
			}
			.wpk-list-item {
				input {
					width: 20% !important;
					margin-right: 40px;
					@media(max-width: $tablet_small){
						width: 50%;
						margin-right: 15px;
					}
				}
				.wpk-add-more, .wpk-remove-item {
					padding: 10px 16px;
					color: #999999;
					margin-right: 40px;
					&:hover {
						color: $white;
					}
				}

			}

		}

		.wpk-file-input {
			border: none;
			.wpk-input-label {
				margin-bottom: 20px;
			}
		}

		.wpk-textarea-container {
			border-bottom: none;
		}

		.wpk-campaign-title {
			width: 100%;
			input {
				width: 40% !important;
				font-size: 30px;
				@media(max-width: $tablet_small){
					width: 100% !important;
				}
			}
		}
		.wpk-campaign-description {

		}

		#wp-description-wrap {
			border-bottom: 1px solid $light_grey;
			.wp-editor-tabs {
				display: none;
			}
			.mce-toolbar-grp {
				min-width: 292px;
				width: 21%;
				border: none;
				padding: 10px;
				margin-bottom: 20px;
				@media(max-width: $tablet_small){
					width: auto;
				}
			}
			.mce-panel {
				border-bottom: none !important;
			}
			#mceu_20 {
				margin-top: 20px;
			}
			#mceu_19 {
				border-bottom: 1px solid #B0B0B0 !important;
			}
		}
		#wp-description-editor-container.wpk-has-error {
			#mceu_19 {
				border-bottom: 2px solid $main_red !important;
			}
		}

		.wpk-submit-container {
			margin-left: 0;
			.wpk-button {
				margin-right: 40px;
				@media(max-width: $tablet_small){
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
		.wpk-flex {
			&.wpk-image-actions {
				span:not(:first-of-type) {
					margin-left: 8px;
				}
			}
		}
	}
}

.wpk-sidebar-form {
	padding-top: 0 !important;

	.wpk-input-container {
		width: 100%;
		.wpk-input-container-inner {
			&.wpk-has-error {
				input {
					&:not(.select2-search__field) {
						border: 1px solid $main_red !important;
						&:focus {
							border: 1px solid $main_red !important;
						}
					}
				}
			}
			&.wpk-has-error {
				#start_date {
					border: 1px solid $main_red !important;
				}
			}
			.wpk-input-label {
				font-weight: 500;
				margin-bottom: 20px;
			}
			input:not([type=checkbox]):not([type=radio]) {
				width: 100% !important;
				padding: 23px 0;
				text-indent: 15px;
				&:not(.select2-search__field) {
					border: 1px solid #ececec !important;
					&.wpk-bottom-border {
						border: none !important;
						border-bottom: 1px solid #e0e0e0 !important;
					}
					&:focus {
						border: 1px solid #d2d2d2 !important;
						&.wpk-bottom-border {
							border: none !important;
							border-bottom: 1px solid #d2d2d2 !important
						}
					}
				}
			}
		}

		.wpk-file-input-target {
			width: 100px;
			height: 100px;

			.wpk-add {
				i {
					font-size: 20px;
				}
			}
		}
		.wpk-image-actions {
			height: auto;
			margin-top: 0;
			position: relative;
			top: 16px;
		}
	}
	.wpk-select-container {
		span.select2.select2-container.select2-container--default {
			background: white;
			width: 100% !important;
			border: none;
			height: 40px;
			margin-top: 20px;
			margin-bottom: 0;
			&::after {
				display: none;
			}
		}
		.select2-search__field {
			text-indent: 0 !important;
		}
		.select2-selection--multiple {
			border: 1px solid #ececec;
			height: 100%;
		}
		.wpk-has-error{
			.select2-selection--multiple{
				border: 1px solid $main_red;
			}
		}
		.select2-container--focus {
			.select2-selection--multiple {
				border: 1px solid #d2d2d2;
			}
		}
		.select2-selection__rendered {
			position: relative;
			height: 100%;
			padding: 10px !important;
		}
	}
	input.select2-search__field {
		font-size: 14px !important;
		font-family: 'Prompt' !important;
	}
}

.page-template-new_campaign-php {
	.wpk-date-picker-input {
		&::after {
			bottom: auto;
		}
	}
}

.wpk-publish-campaign:not(.wpk-disabled){

	background: $green;
	color: $white;

}