.page-template-login {
	.mkd-page-header, footer {
		display: none;
	}
}

#wpk_login {
	margin-top: 104px;
}

.wpk-login {
	background: url(../images/login_background.jpg) no-repeat center;

	.wpk-wrap-inner {
		height: 100vh;
		background-color: rgba(43, 46, 47, 0.7);
		width: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		@include horizontal_vertical_center();
		flex-direction: column;
		letter-spacing: 1.1px;

		input {
			background: transparent;
			color: $white;
			font-size: 24px;
			padding: 25px;

			&:-webkit-autofill {
				-webkit-box-shadow: 0 0 0 30px white inset;
			}

			&:focus {
				border-bottom: 1px solid $white !important;
			}
		}

		.wpk-label, label {
			color: $white !important;
			background: transparent;
		}

		.wpk-input-container {
			margin-bottom: 40px;
			max-width: 400px;

			&.wpk-has-error {
				margin-bottom: 100px;

				.wpk-error-message {
				}
			}

			&::after {
				font-family: 'ElegantIcons';
				color: white;
				position: absolute;
				right: 0;
				bottom: 4px;
				font-size: 18px;
			}
		}

		.wpk-login {
			&::after {
				content: '@';
				font-family: 'Prompt' !important;

			}
		}

		.wpk-password {
			&::after {
				content: '~';
			}
		}

		.wpk-submit-container {
			@include horizontal_vertical_center();
			flex-direction: column;

			.wpk-submit {
				width: 67%;
				margin: 20px auto;
				padding: 16px 13px;
				font-size: 15px;
			}
		}

		.wpk-links {
			margin-top: 60px;
			width: 100%;
			@include horizontal_vertical_center();

			a {

				&:first-of-type {
					position: relative;

					&::after {
						content: '';
						display: block;
						font-size: 30px;
						width: 6px;
						height: 6px;
						border: #ACACAC;
						border-radius: 50%;
						background: #ACACAC;
						position: relative;
						margin: 9px;
						float: right;
					}
				}

				&:nth-of-type(2) {
					color: $main_red;
				}
			}
		}

	}

}