.page-template-my_campaigns-php, .page-template-new_campaign-php, .page-template-edit_campaign-php {
	.mkd-content, .mkd-wrapper, .mkd-wrapper-inner, .mkd-content-inner {
		height: 100%;
	}
	.wpk-wrap {
		height: 100%;
		> .col-xl-10 {
			@media(min-width: 1200px) {
				max-width: 80%;
				flex: 0 0 80%;
			}
		}
		> .col-xl-2 {
			@media(min-width: 1200px) {
				max-width: 20%;
				flex: 0 0 20%;
			}
		}
	}
	.wpk-new-campaign {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		a {
			@include horizontal_vertical_center(column);
			color: $black;
			&:hover {
				text-decoration: none;
				.wpk-circle {
					background: $main_red;
					border: 1px solid $white;
					span {
						color: $white;
						text-transform: none;
					}
				}
			}
		}

		.wpk-message {
			font-size: 30px;
		}
	}

	.wpk-my-campaigns-sidebar {
		font-family: 'Prompt';
		.wpk-sidebar-section {
			padding: 20px 20px;
			a {
				color: $black;
			}
			.wpk-new-campaign-link {
				.wpk-circle-icon {
					.wpk-circle {
						margin-right: 10px;
						width: 20px;
						border: 1px solid $main_red;
						border-radius: 50%;
						height: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						@include transition(all .3s);
						span {
							font-size: 15px;
							color: $main_red;
						}

					}
				}
				.wpk-message{

				}
				&:hover {
					.wpk-circle {
						background: $main_red;
						border: 1px solid $main_red;
						span {
							color: $white;
							text-transform: none;
						}
					}
				}
			}
			.wpk-dropdown-arrow-title {
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				&:hover {
					&::before {
						background: $main_red;
						color: $white;
					}
				}
				&.wpk-collapsed {
					&::before {
						content: '\e5c7';
					}
					~ .wpk-dropdown-arrow {
						display: none;
					}
				}
				&::before {
					font-family: 'Material Icons';
					content: '\e5c5';
					font-size: 17px;
					float: left;
					height: 20px;
					width: 20px;
					border: 1px solid $main_red;
					border-radius: 50%;
					@include horizontal_vertical_center();
					margin-right: 10px;
					@include transition(all .3s);
				}

			}
			.wpk-dropdown-arrow {
				display: flex;
				flex-direction: column;
				margin-left: 40px;
				margin-top: 10px;
				transition: all .3s;
				/*max-height: 500px;
				overflow: hidden;
				transition-property: all;
				transition-duration: .5s;
				transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
				li {
					margin: 3px 0;
					font-size: 14px;
				}
			}
		}
	}

}