.wpk-register{

	.wpk-tab{
		display: block;
		margin: 0 auto;
		max-width: 1200px;
		.wpk-tab-title{
			font-weight: 400;
			margin-bottom: 20px;
		}
		.wpk-has-error{
			margin-bottom: 40px;
			@media(max-width: $tablet_small){
				margin-bottom: 50px;
			}
		}
	}

	.wpk-accept-terms{
		a{
			color: $main_red;
		}
		.wpk-error-message{
			position: absolute;
			top: 25px;
			@media(max-width: $tablet_small){
				top: 45px;
			}
		}
	}
	.wpk-submit{
		margin: 40px 0;
	}

}