.wpk-conversation-title {

	margin-bottom: 40px;
	border-bottom: 1px solid $sidebar_border;
	a {
		color: $black;
		&:hover {
			text-decoration: none;

		}

	}
	h2, a {
		font-weight: 400;
		cursor: pointer;
	}

}

.wpk-conversations{
	.wpk-circle-icon{
		.wpk-circle{
			width: 100px;
			height: 100px;
			i{
				font-size: 40px;

			}
		}
	}
}

.wpk-conversation-form {
	display: flex;
	margin-top: 60px;
	.wpk-conversation-avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: relative;
		img{
			border-radius: 50%;
			height: 100%;
			width: 100%;
		}
	}
	.wpk-conversation-field {
		flex-grow: 1;
		margin-left: 26px;
		position: relative;
		.wp-editor-wrap {
			border: 1px solid #eee;
			border-radius: 10px;
			.wp-editor-tools {
				display: none;
			}
		}
		#mceu_14 {
			position: absolute;
			//width: 100%;
			bottom: 0;
			background: transparent;
			padding: 10px;
		}
		.wpk-submit {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 10px;
			.wpk-button {
				padding: 15px 18px;
				outline: none;
			}
		}
	}
}

.wpk-single-message {
	margin: 40px 0;
	&.wpk-type-message {
		background: #F9F9F9;
		border: 1px solid $sidebar_border;
		color: $black;
		padding: 12px 40px;
		border-radius: 15px;
		&.wpk-company {
			border: 2px solid $main_red;
			background: $white;
		}
		.wpk-message-data {
			display: flex;
			.wpk-message-meta {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 20px;
				.wpk-username {
					font-weight: 500;
				}
				.wpk-comment-date {
					font-weight: 300;
					font-size: 14px;
				}
			}

		}
		.wpk-message-content {
			font-weight: 300;
		}
	}
	.wpk-message-avatar {
		width: 90px;
		height: 90px;
		background: $white;
		border-radius: 50%;
		@include horizontal_vertical_center();
		img {
			border-radius: 50%;
			width: 80px;
			height: 80px;
			object-fit: cover;
		}
	}
	.wpk-border-round-button {
		background: $main_red;
		color: $white;
		border: 2px solid #D2D2D2;
		&:hover {
			background: $white;
			color: $black;
		}
	}
	&.wpk-type-system {
		background: $main_red;
		color: $white;
		padding: 12px 40px;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: left;
		.wpk-message-content {
			margin-left: 20px;
		}
	}
	.wpk-invite-to-influencer, .wpk-invite-to-company {
		.wpk-message {
			background: $main_red;
			color: $white;
			padding: 12px 40px;
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&.wpk-company {
				justify-content: left;
				.wpk-message-content {
					margin-left: 50px;

				}
			}
			.wpk-message-actions-inner {
				display: flex;
			}
		}
	}
}

.wpk-new-message {

	.wpk-influencers-select {
		display: none;
	}

	.wpk-influencers-selection {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $sidebar_border;
		padding-bottom: 20px;
		> div:not(:first-of-type):not(:nth-of-type(2)) {
			margin-left: -10px;
		}
		.wpk-selection-title {
			margin-right: 10px;
			font-size: 20px;
		}
		.wpk-selection-section {

			height: 50px;
			width: 50px;
			background: $white;
			border-radius: 50%;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			&.wpk-selection-add {
				background: $main_red;
			}
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			.wpk-activator {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&.wpk-selection-add {
				position: relative;
				.wpk-influencers-select-target {
					&::after {
						content: '';
						position: absolute;
						top: -16px;
						right: 46%;
						z-index: 99999;
						width: 0;
						border: 10px solid transparent;
						border-bottom: 8px solid #333333;
						transition: top 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						transition-delay: .2s;
						display: block;
						height: 0;
					}
					position: absolute;

					background: #333333;
					bottom: -257px;
					width: 250px;
					height: 250px;
					z-index: 9999;
					padding: 10px;
					&.wpk-visible{
						opacity: 1;
						visibility: visible;
					}
					.wpk-search-icon {
						input {
							background: #333333;
							border: none;
							font-size: 14px;
							border-bottom: 1px solid #eeeeee;
							width: 100%;
							padding-bottom: 4px;
							color: $white;
						}
						&::after {
							bottom: 5px;
						}

					}
					.wpk-influencer-result {
						display: flex;
						align-items: center;
						margin: 10px 0;
						.wpk-influencer-avatar {
							height: 50px;
							width: 50px;
							border-radius: 100%;
							//background: white;
							align-items: center;
							display: flex;
							justify-content: center;
							img {
								border-radius: 100%;
								width: 50px;
								height: 50px;
							}
						}
						.wpk-influencer-name {
							margin-left: 10%;
						}
					}
				}
			}

		}
	}

	.wpk-influencers-select-target {
		opacity: 0;
		visibility: hidden;
		@include transition(all .3s);
	}

}

.wpk-search-results{
	.wpk-search-result{
		display: block;
		border-bottom: 1px solid $sidebar_border;

		&:hover{
			text-decoration: none;
		}
		.wpk-search-title{
			color: $black;
			font-size: 20px;
		}
	}
	> a:not(:first-of-type){
		margin-top: 20px;
	}
}

.wpk-message-search-result {
	background: $main_red;
	color: white;
}