.single-campaign {
	@media (min-width: 1200px) {
		.col-xl-10 {
			max-width: 82%;
			flex: 0 0 82%;
			-ms-flex: 0 0 82%;
		}
		.col-xl-2 {
			max-width: 18%;
			flex: 0 0 18%;
		}
	}

	.wpk-wrap {
		.wpk-wrap-inner {
			padding: 50px 40px;
		}
		.wpk-single-campaign-sidebar {
			.wpk-sidebar-section {
				padding: 20px 20px;
				.wpk-sidebar-buttons {
					display: flex;
					width: 100%;
					flex-wrap: wrap;
					> div:not(:last-of-type) {
						margin-bottom: 10px;
					}
					.wpk-button {
						max-width: 86%;
						text-align: center;
						margin-bottom: 20px;
						margin-left: 10px;
						&:hover{
							text-underline: none;
						}
					}
				}

			}
		}

		.wpk-single-campaign {
			.wpk-single-campaign-inner {
				border-top: 1px solid $sidebar_border;
				padding: 10px 10%;
				display: flex;
				flex-direction: column;
				> div {
					padding: 15px;
					margin: 0 auto;
				}
				.wpk-campaign-logo{
					img{
						max-width: 200px;
					}
				}
				.wpk-campaign-thumbnail{
					img{
						max-width: 1000px;
						width: 100%;
					}
				}
				.wpk-section {
					margin: 0;
					padding: 15px 20px;
					.wpk-section-title {
						font-weight: 500;
						margin-bottom: 10px;
					}
					.wpk-section-inner {
						color: #666666;
						font-weight: 300;
					}
				}
				.wpk-campaign-title {
					padding: 15px;
					.wpk-section-inner {
						color: #333333;
						font-size: 24px;
						text-transform: capitalize;
						font-weight: 400;
					}
				}

				.wpk-campaign-website {
					a {
						color: $main_red;
					}
				}

				.wpk-campaign-thumbnail {
					position: relative;
					max-width: 90%;
					@media(min-width: $table_big){
						img + .wpk-campaign-date{
							position: absolute;
							bottom: -30px;
							right: -53px;
						}
					}
					.wpk-campaign-date {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						background: $main_red;
						border-radius: 50%;
						width: 220px;
						height: 220px;
						color: white;
						/* top: 0; */
						font-size: 20px;
						-webkit-box-shadow: 1px 8px 5px -5px rgba(0, 0, 0, 0.75);
						-moz-box-shadow: 1px 8px 5px -5px rgba(0, 0, 0, 0.75);
						box-shadow: 1px 8px 5px -5px rgba(0, 0, 0, 0.75);
						@media(max-width: $tablet_small){
							width: 190px;
							height: 190px;
							margin: 0 auto;
						}
						i {
							font-size: 60px;
						}
						span {
							&:first-of-type {
								font-weight: 300;
								text-align:center;
							}
							&:nth-of-type(2) {
								font-weight: 500;
								font-size: 22px;
							}
						}
					}
				}

				.wpk-campaign-description{
					a{
						color: $main_red;
					}
				}

				.wpk-campaign-tags {
					.wpk-section-inner {
						display: flex;
						.wpk-tag {
							margin-right: 10px;
							text-transform: capitalize;
						}
					}
				}

				.wpk-checkbox {
					label, input {
						cursor: initial;
					}
					input {
						margin-right: 5px;
					}
					label {
						&::before, &::after {
							cursor: initial;
						}
					}
				}
			}

		}
		.wpk-single-campaign-influencer{
			.wpk-prev, .wpk-next{
				.wpk-tooltip-text{
					max-width: 75px;
					white-space: inherit;
					text-align: center;
				}
			}

			.wpk-navigation-actions{
				display: flex;
				position: relative;
				align-items: center;
				justify-content: flex-end;

				.wpk-influencer-action{

					i{
						margin-right: 15px;

						&::before{
							width: 23px;
							height: 26px;
							display: inline-block;
							font-family: Material Icons;
							font-size: 24px;
							font-style: normal;
							font-weight: normal;
							letter-spacing: normal;
							line-height: 1;
							text-transform: none;
							white-space: nowrap;
							word-wrap: normal;
							-webkit-font-feature-settings: 'liga';
							-webkit-font-smoothing: antialiased;
						}
					}

					/*&[data-action="influencer_accept"]{
						i::before{
							content: 'check';
						}
					}

					&[data-action="influencer_decline"]{
						i::before{
							content: 'close';
						}
					}

					&[data-action="in_campaign"], &[data-action="will_be_added"]{
						i::before{
							content: 'today';
						}
					}

					&[data-action="declined"]{
						i::before{
							content: 'block';
						}
					}

					&[data-action="collaborate"]{
						i::before{
							content: 'mail_outline';
						}
					}
					*/
				}
			}
		}

		.wpk-single-campaign-company {
			.wpk-navigation-actions {
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-bottom: 20px;

				.wpk-campaign-logo {
					margin-bottom: 20px;
					max-width: 200px;
				}
				.wpk-campaign-website {
					a {
						color: $main_red;
					}
				}

			}
			.wpk-single-campaign-inner {
				margin-top: 20px;
				padding: 20px 0;
				.wpk-section {
					padding: 15px 0;
				}
			}
		}
	}
}