.wpk-single-influencer {
	clear: both;
	font-family: 'Prompt';
	.wpk-influencer-details {
		display: flex;
		border-top: 1px solid $sidebar_border;
		border-bottom: 1px solid $sidebar_border;
		padding: 30px 0;
		margin-bottom: 20px;
		.wpk-influencer-detail {
			width: auto;
			flex-grow: 1;
			display: flex;
			align-items: center;
			&.wpk-influencer-stats {
				justify-content: flex-end;
			}
			.wpk-influencer-avatar {
				margin-right: 40px;
				max-width: 100px;
				img {
					border-radius: 50%;
				}
			}
			.wpk-influencer-tab {
				display: flex;
				height: auto;
				flex-direction: column;
				padding: 25px 35px;
				border: 1px solid $sidebar_border;
				border-radius: 15px;
				h3, span {
					font-weight: 300;
				}
			}
			.wpk-influencer-personal-info {
				.wpk-influencer-name {
					h2 {
						font-weight: 300;
						letter-spacing: .4px;
						color: $black;
					}
				}
				.wpk-influencer-metas {
					display: flex;
					width: 100%;
					@media(min-width: $tablet_small){
						align-items: center;
					}
					.wpk-influencer-meta {
						font-weight: 300;
						letter-spacing: .6px;
					}
					> div:not(:first-of-type) {
						&::before {
							content: '';
							font-size: 30px;
							width: 4px;
							height: 4px;
							border: black;
							border-radius: 50%;
							background: black;
							float: left;
							margin: 10px;
							display: inline-block;
						}
					}
				}
			}
		}

	}

	.wpk-influencer-insights{
		display: flex;
		@media(max-width: $tablet_small){
			flex-wrap: wrap;
		}

		.wpk-influencer-insight{
			width: 33%;
			@media(max-width: $tablet_small){
				width: 100%;
			}

		}

	}

	.wpk-influencer-bio {
		margin: 30px 0;
		color: #666666;
		font-weight: 300;
	}
}