.wpk-statistics {
	.wpk-statistics-sidebar {
		.wpk-sidebar-section {
			display: flex;
			align-items: center;
			cursor: pointer;
			@include transition(all .3s);
			border: none;
			margin-top: 5px;
			&::after {
				content: '\E315';
				font-family: 'Material Icons';
				position: absolute;
				right: 18px;
				font-size: 20px;
			}
			.wpk-sidebar-thumb {
				margin-right: 20px;
				border-radius: 50%;
				padding: 2px;
				width: 40px;
				height: 40px;
				@include horizontal_vertical_center();
				img {
					border-radius: 50%;
				}
			}
			.wpk-sidebar-label {
				max-width: 57%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&.wpk-show-all {
				.wpk-sidebar-thumb {
					background: $main_red;
					color: $white;
				}
				&:hover, &.wpk-active {
					.wpk-sidebar-thumb {
						background: $white;
						color: $main_red;
					}
				}
			}
			&:hover, &.wpk-active {
				background: $main_red;
				color: $white;

			}
		}
	}
	.wpk-campaign-stats-inner {

		.wpk-stats-summary {
			h2 {
				font-weight: 300;
			}
		}

		.wpk-stat-tabs {
			display: flex;
			justify-content: space-between;
			margin: 40px 0;

			@media(max-width: $table_big) {
				flex-wrap: wrap;
			}

			.wpk-stat-tab {
				width: 16%;
				text-align: center;
				padding: 40px 20px;
				border: 1px solid $sidebar_border;
				border-radius: 10px;
				cursor: pointer;
				@include red_background_hover();
				.wpk-icon {
					font-size: 40px;
				}

				.wpk-text {
					font-size: 15px;
				}

				.wpk-stat {
					font-weight: 400;
					font-size: 20px;
				}

				@media(max-width: $table_big) {
					width: 40%;
					margin: 10px auto;
					padding: 10px;
				}
			}
		}

	}

	.wpk-campaign-post {
		display: flex;
		margin: 10px 0;
		justify-content: space-around;
		border: 1px solid $sidebar_border;
		padding: 31px;
		border-radius: 10px;

		@media(max-width: $table_big) {
			flex-wrap: wrap;
		}
		.wpk-post-thumb {
			width: 23%;

			@media(max-width: $table_big) {
				width: 100%;
				margin-bottom: 10px;
			}
			img {
				width: 100%;
				border-radius: 10px;
			}

		}

		.wpk-post-meta {

			width: 70%;
			display: flex;
			flex-direction: column;
			position: relative;

			@media(max-width: $table_big) {
				width: 100%;
			}
			.wpk-post-author {
				display: flex;
				align-items: center;
				margin-left: 10px;
				.wpk-author-avatar img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}

				.wpk-author-name > * {
					color: #000000;
					margin-left: 10px;
					text-decoration: none;
					font-size: 20px;
				}
			}

			.wpk-post-caption {
				margin-top: 30px;
			}

			.wpk-post-tags {
				position: relative;
				bottom: -18px;
				.wpk-message {
					font-weight: 500;
				}

				.wpk-tags {
					color: $main_red;
				}
			}

			.wpk-post-stats {
				display: flex;

				.wpk-post-stat {
					margin: 0 10px;
					display: flex;

					.wpk-icon {
						font-size: 25px;
					}

					.wpk-text {
						margin: 0 5px;
						display: flex;
						align-items: center;
					}
				}
			}
		}

	}
}