$padding: 50px 50px;

.wpk-tab {

}

.page-template-user_profile-php {
	.wpk-page-title {
		@media(max-width: $tablet_small){
			h2{
				display: none;
			}
		}
		width: 100%;
		flex: 0 0 100%;
		margin-bottom: 25px;
		margin-top: 10px;
		border-bottom: 1px solid #eeeeee;
		h2 {
			font-weight: 300;
			letter-spacing: .3px;
		}
	}
	.wpk-tab {
		display: block;
	}
	.wpk-wrap-inner {
		padding-top: 0;
	}
	.mkd-content-inner {
		padding: 20px;
	}

	.wpk-user-profile-sidebar {
		color: $text_grey;
		font-family: 'Prompt';
		font-size: 14px;
		letter-spacing: 1px;
		font-weight: 400;
		margin-left: 15px;
		position: relative;

	}

	.wpk-sidebar {
		background-color: $white;
		border: none;
		.wpk-tab-active {
			background-color: $sidebar_tab_active;
			border-left: 4px solid $black;
			.wpk-sidebar-icon {
				color: $main_red;
			}
		}

	}

	.wpk-instagram-logo {
		font-family: 'ElegantIcons';
		color: #888888;
		font-size: 26px;
		text-decoration: none !important;
		@include transition(all .2s);
		text-decoration-color: transparent !important;
		&:hover {
			color: $main_red;
			text-decoration: none;
		}
	}

	.wpk-instagram-connect {
		a {
			display: flex;
			width: 247px !important;
			color: white;
			background: #3897f0;
			padding: 10px;
			align-items: center;
			justify-content: space-around;
			text-decoration: none !important;
			text-decoration-color: transparent !important;
			@include transition(all .3s);
			&:hover {
				.wpk-text {
					text-decoration: underline $white;
				}
			}
			.wpk-instagram-logo {
				color: $white;
			}
			.wpk-text {

			}
		}
	}

	.wpk-tab-title {
		//padding: 33px 0;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		margin-top: 20px;
		@media(max-width: $tablet_small){
			margin-bottom: 30px;
		}
		h2 {
			font-family: 'Prompt-Regular', Arial, Helvetica, sans-serif;
			letter-spacing: .85px;
			&::before {
				width: 30px;
				height: 2px;
				display: inline-block;
				background: $black;
				content: '';
				bottom: 11px;
				position: relative;
				margin-right: 15px;
			}
		}
	}

	.wpk-tab-inner {
		font-family: 'Prompt';
		font-size: 14px;
		font-weight: 500;
		//margin-top: 33px;

	}

	.wpk-input-container {
		margin: 25px 0;
	}

	#wpk_gender_inputs{
		> div{
			position: relative;
			bottom: 16px;
			margin: 0;
			&:not(:first-of-type){
				margin-left: 15px;
			}

		}
	}


}