#wpk_form, .wpk-form {
	@include transition(opacity .3s);
	.wpk-form-inner {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.wpk-full-width, .wpk-input-container-inner {
		width: 100%;
	}
	&.wpk-full-inputs, & .wpk-float-label {
		.wpk-input-container, .wpk-select-container {
			width: 100%;
			.wpk-input-label {
				margin-right: 10px;
				margin-bottom: 20px;
				width: 100%;
			}
		}

	}

	&.wpk-has-next-section {
		padding-bottom: 0 !important;
		.wpk-input-container, .wpk-input-label {
			margin-bottom: 0 !important;
		}
	}

	.wpk-input-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&.wpk-float-label {
		input, select {
			width: auto;
		}
		span.wpk-input-label {
			padding: 10px;
			margin-bottom: 10px;
			display: inline-block;
		}
	}
	&.wpk-half-inputs {
		.wpk-input-container {
			width: $width;
		}
	}
	.wpk-input-container, .wpk-select-container {
		margin: $margin;
		@media(max-width: $tablet_small) {
			margin: 20px 0;
		}
		&.wpk-half-inputs {
			input, select {
				width: 25%;
			}
			> :not(:first-child) {
				margin-left: $margin;
			}
		}
	}
	.wpk-date-picker-input::after {
		content: '\E916';
		font-family: 'Material Icons';
		position: absolute;
		right: 44px;
		font-size: 20px;
		margin-top: -54px;
		cursor: pointer;
		color: #666666;
		pointer-events: none;
		user-select: none;
	}
	.wpk-date-picker {
		cursor: pointer;
		border: none;
	}
	.wpk-select2-container:not(.wpk-search-icon) {
		.select2-container--focus {
			&::after {
				content: '\E316'
			}
		}
	}
	.select2-container {
		width: 70% !important;
		position: relative;

		&::after {
			content: '\E313';
			font-family: 'Material Icons';
			float: right;
			position: absolute;
			bottom: 0;
			font-size: 20px;
			right: 0;
			color: #999999;
		}
		.select2-selection {
			border: none;
			border-bottom: 1px solid $input_border;
		}
		&.select2-container--focus {

			.select2-selection {
				border: none;
				border-bottom: 1px solid $black;
			}
		}
		ul.select2-selection__rendered {
			display: flex;
			align-items: center;
			margin: 0;
			width: 100% !important;
			li {
				margin-top: 0;
			}
		}
		.select2-selection__choice {
			padding: 2px 6px !important;
			background: $light_grey !important;
			border: 1px solid $light_grey !important;
			text-transform: uppercase;
			.select2-selection__choice__remove {
				float: right;
				position: relative;
				bottom: 7px;
				left: 5px;
				font-size: 1px;
				&, &:hover {
					color: $light_grey;
				}
				&::after {
					content: 'close';
					font-family: 'Material Icons';
					color: $black;
					text-transform: none;
					font-weight: 100;
					font-size: 15px;
					position: relative;
					top: 2px;
				}
			}
		}
	}

	input:not(.ed_button):not([type=checkbox]):not([type=radio]), select {
		&:not(.wpk-float-left) {
			width: 100%;
		}
		&::placeholder {
			/*position: relative;
			bottom: 8px;*/
		}
		border: none;
		&:not(.select2-search__field) {
			border-bottom: 1px solid $input_border;
		}
		padding: 10px;
		height: $height;
		&:not(.select2-search__field):focus {
			border-bottom: 1px solid $black;
			outline: none;
		}
	}

	input[type=file] {
		display: none;
	}

	select:invalid {
		color: $text_grey;
	}
	.wpk-selection-under {
		.select2-container .select2-selection__choice {
			background: $main_red !important;
			color: $white !important;
			.select2-selection__choice__remove {
				position: absolute;
				font-size: 1px;
				width: 100%;
				margin: 0;
				padding: 0;
				left: 0;
				top: 0;
				&::after {
					content: '';
				}
			}
		}

		.select2-selection__choice{
			display: none;
		}

	}
	.wpk-image-upload {
		.wpk-image-actions {
			position: relative;
			height: 400px;
			@media(max-width: $tablet_small) {
				height: auto;

			}
			display: flex;
			align-items: flex-end;
			@include transition(all .3s);
			opacity: 0;
			cursor: pointer;
			text-transform: uppercase;
			span {
				color: #666666;
				font-weight: 300;
			}
			span:not(:first-of-type) {
				margin-left: 3px;
			}
			/*span:first-of-type::after {
				content: '|';
				margin-left: 7px;
			}*/
		}

		.wpk-file-input-target {
			position: relative;
			border: 1px solid #d2d2d2;
			width: 400px;
			height: 400px;
			@include horizontal_vertical_center();
			@include transition(all .3s);
			cursor: pointer;
			margin-right: 40px;
			border-radius: 10px;
			@media(max-width: $tablet_small) {
				width: 200px;
				height: 200px;
			}
			img {
				height: auto;
				width: auto;
				max-height: 100%;
				max-width: 100%;
			}

			.wpk-upload-progress{
				width: 100%;
				height: 10px;
				background: $light_grey;
				position: absolute;
				bottom: -17px;
				border-radius: 10px;
				@include transition(all .3s);

				&.wpk-disabled{
					opacity: 0;
					visibility: hidden;
				}

				.wpk-progress{
					background: $main_red;
					height: 100%;
					width: 0;
					border-radius: 10px;
				}
			}

			.wpk-add {
				@include transition(all .3s);
				color: #C4C4C4;
				border: 1px solid #C4C4C4;
				border-radius: 50%;
				@include horizontal_vertical_center();
				width: 35%;
				height: 35%;
				i {
					font-size: 50px;
				}
			}
			&:hover {
				.wpk-add {
					background: $main_red;
					i {
						color: $white;
					}
				}
			}
		}
		&.wpk-has-image {
			.wpk-add {
				display: none;
			}
			.wpk-image-actions {
				opacity: 1;
				display: block;
			}
		}
	}

	textarea {
		width: 100%;
		height: 300px;
		resize: none;
		border: none;
		border-bottom: 1px solid $input_border;
		padding: 10px;
		&:focus {
			border-bottom: 1px solid $black;
		}
	}

	.wpk-gender {
		display: none;
	}

	.wpk-checkbox-button:not(.wpk-border-round-button) {
		padding: 10px 10px;
		margin: 0 10px;
		width: 80px;
		text-align: center;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
		&.wpk-active, &:hover {
			background-color: $main_red;
			color: $white;
		}
	}

	.wpk-submit-container {
		width: 100%;
		margin: $margin;
		.wpk-submit {
			background: $main_red;
			color: $white;
		}
	}

}

.wpk-select2-under-save + .select2-container .select2-selection__choice {
	display: none;
}

$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: $main_red;
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);

$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;

.wpk-checkbox {
	position: relative;
	margin: $md-checkbox-margin;
	display: flex;
	label {
		cursor: pointer;
		margin-left: 10px;
		user-select: none;
		&:before, &:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
		}

		&:before {
			// box
			width: $md-checkbox-size;
			height: $md-checkbox-size;
			background: #fff;
			border: 2px solid $md-checkbox-border-color;
			border-radius: 2px;
			cursor: pointer;
			transition: background .3s;
		}

		&:after {
			// checkmark
		}
	}

	input[type="checkbox"] {
		outline: 0;
		margin-right: $md-checkbox-size - 10px;

		&:checked {
			+ label:before {
				background: $md-checkbox-checked-color;
				border: none;
			}
			+ label:after {

				$md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

				transform: rotate(-45deg);

				top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
				left: $md-checkbox-padding;
				width: $md-checkmark-size;
				height: $md-checkmark-size / 2;

				border: $md-checkmark-width solid $md-checkmark-color;
				border-top-style: none;
				border-right-style: none;
			}
		}
	}

}

.select2-container {
	.select2-selection__rendered, .select2-search__field {
		cursor: pointer !important;
	}
	.select2-dropdown {
		border: none !important;
		.select2-results {
			background-color: transparent !important;
			.select2-results__options {
				padding: 0 !important;
				background: transparent;
				li {
					border: 1px solid #EEEEEE;
					padding: 12px;
					color: #888;
					font-family: Prompt, sans-serif;
					font-size: 14px;
					&.select2-results__option--highlighted[aria-selected] {
						background: $main_red !important;
						color: $white;
					}
				}
			}
		}
	}
}

.wpk-checkbox-button + input {
	display: none;
}

.page-template-edit_campaign-php {
	.wpk-sidebar-form {
		.wpk-date-picker-input::after {
			margin-top: -40px;
		}
	}
}

.wpk-search-icon {
	position: relative;
	&::after {
		content: 'U';
		font-family: 'ElegantIcons';
		font-size: 16px;
		position: absolute;
		bottom: 12px;
		left: 8px;
		color: #888888;
		@media(max-width: $tablet_small) {
			top: -1px;
		}
	}
	&.wpk-icon-right {
		&::after {
			left: auto;
			right: 8px;
		}
	}
	input {
		margin: 0 !important;
		text-indent: 33px !important;
	}
	&.wpk-select2-container {
		&::after {
			content: '';
		}
	}
	.select2-container {
		border: none !important;
		width: 100% !important;
		cursor: pointer;
		margin-bottom: 0 !important;
		&::after {
			content: 'U';
			font-family: 'ElegantIcons';
			font-size: 16px;
			position: absolute;
			bottom: -3px;
			left: 8px;
			color: #888888;
			width: 16px;
			display: inline-block;
		}
		.select2-search__field {
			padding: 0 !important;
			cursor: pointer;
		}
	}
}

.wpk-file-input .wpk-error-message {
	position: relative;
	top: 0;
}

.wpk-search-icon {
	input {
		@media(max-width: $tablet_small) {
			padding-left: 25px;
		}
	}
	.wpk-loader {
		right: 63px;
    	width: 30px;
   	 	height: 10px;
    	top: 20px;
    	left: auto;
		@media(max-width: $tablet_small) {
			//left: 25px !important;
		}
		.five_rotating_circles {
			width: 40px;
			height: 40px;
		}
	}
}

.ui-autocomplete {
	max-width: 500px;
	li {
		border: 1px solid #EEEEEE;
		color: #888;
		font-size: 25px;
		div {
			padding: 10px;
		}
		&:hover {
			color: $white;
			background: $main_red;
		}
	}
	.ui-state-active {
		background: $main_red !important;
		border: 1px solid #EEEEEE !important;
		color: $white !important;
	}
}

.wpk-select2-container {
	.wpk-select2-under-save + .select2-container {
		margin-bottom: 20px !important;
	}
}

.wpk-select2-container:not(.wpk-search-icon) {

	.wpk-select2 {
		& + span.select2 {
			width: 100% !important;
			.select2-search__field {
				padding: 0 !important;
				position: relative;
				top: -4px;
				right: 19px;
			}

			.select2-selection {
				border-bottom: none;
			}
		}
	}

	.wpk-select2-under-save {
		& + .select2-container {

			width: 100% !important;
			cursor: pointer;

			.select2-selection {
				border: none;
			}
			.select2-search__field {
				padding: 0 !important;
				cursor: pointer;
				right: 12px;
				bottom: 4px;
			}

		}
	}

	label {
		color: #999999;
		font-weight: 300;
	}
}
