.wpk-range-container {
	position: relative;
	border: none !important;
	height: 3px;
	.ui-slider-handle {
		border-radius: 50%;
		background: $main_red;
		height: 10px;
		width: 10px;
		margin-top: 2px;
		border: none;
		cursor: pointer;
	}
	.ui-slider-range {
		background: $main_red;
		cursor: pointer;
	}

}

.wpk-range-value {
	color: #999999;
	font-size: 12px;
	font-weight: 300;
	position: relative;
	top: 20px;
}

.wpk-campaign-impressions-big {
	margin-top: 40px;
	&.wpk-fixed-impressions {
		margin: 0;
		z-index: 999999999;
		position: fixed;
		width: 100%;
		top: 0;
		background: $white;
		left: 0;
		padding: 20px;
		@media(max-width: $tablet_small) {
			padding: 5px 20px;
			height: 95px;
		}
	}
	.wpk-title {
		margin-right: 20px;
		h2 {
			font-size: 30px;
			font-weight: 300;
			letter-spacing: 1px;
		}
	}

	.wpk-button {
		position: relative;
		bottom: 20px;
		color: #999999;
		font-weight: 500;
		z-index: 3;
		&:hover {
			color: $white;
		}
		@media(max-width: $tablet_small) {
			float: left;
		}
	}



	.wpk-impressions-slider-outer {
		width: 30%;
		@media(max-width: $tablet_small) {
			width: 100%;
			height: 79px;
		}
		.wpk-impressions-slider {
			width: 100%;
			opacity: 1;
			border: 1px solid #ECECEC !important;
			color: #999999;
			margin-bottom: 5px;
			background-color: #DFE2E9;
			border-radius: 22px;
			@media(max-width: $tablet_small) {
				height: 7px;
			}
			.ui-slider-range {
				background: $main_red;
				@include transition(all .3s);
				border-radius: 22px;
			}
			.ui-slider-handle {
				display: none;
			}
		}
		.wpk-impressions-amount {
			color: #999999;
		}
	}
}

.wpk-save-campaign{
	margin-right: 15px;
}

.wpk-campaign-impressions-small {
	margin-top: 40px;
	&.wpk-fixed-impressions {
		margin: 0;
		z-index: 999999999;
		position: fixed;
		width: 100%;
		top: 0;
		background: $white;
		left: 0;
		padding: 20px;
		@media(max-width: $tablet_small) {
			padding: 5px 20px;
			height: 95px;
		}
	}
	.wpk-title {
		margin-right: 20px;
		h2 {
			font-size: 30px;
			font-weight: 300;
			letter-spacing: 1px;
		}
	}

	.wpk-button {
		position: relative;
		bottom: 20px;
		color: #999999;
		font-weight: 500;
		&:hover {
			color: $white;
		}
		@media(max-width: $tablet_small) {
			float: left;
		}
	}
	.wpk-impressions-slider-outer {
		width: 100%;

		height: 79px;

		.wpk-impressions-slider {
			width: 100%;
			opacity: 1;
			border: 1px solid #ECECEC !important;
			color: #999999;
			margin-bottom: 5px;
			background-color: #DFE2E9;
			border-radius: 22px;
			max-width: 100% !important;

			height: 7px;

			.ui-slider-range {
				background: $main_red;
				@include transition(all .3s);
				border-radius: 22px;
			}
			.ui-slider-handle {
				display: none;
			}
		}
		.wpk-impressions-amount {
			color: #999999;
		}
	}
}