.wpk-success-message {
	display: none;
	align-items: center;
	justify-content: center;
	margin-left: $margin;
	margin-top: 17px;
	i {
		color: $green;
		vertical-align: middle;
	}
}

.wpk-selection-under {
	.wpk-selections {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		.wpk-selection {
			background: $main_red;
			color: $white;
			padding: 10px;
			margin-right: 4px;
			cursor: pointer;
			margin-bottom: 10px;
			border-radius: 10px;
		}
	}
}

.wpk-has-error {
	input, select {
		border-bottom: 2px solid $main_red !important;
	}
	.wpk-error-message {
		color: $main_red;;
		margin-top: 10px;
		clear: both;
		display: inline-block;
		width: 100%;
		text-transform: none;
		font-weight: 400;
	}
}

.wpk-float-label {

	.wpk-error-message {
		position: absolute;
		top: 32px;
	}

}

.wpk-list-item {
	margin-bottom: 15px;
	clear: both;
	overflow: auto;
}

.wpk-button {
	display: inline-block;
	border: none;
	background: $grey;
	padding: 20px;
	color: $black;
	cursor: pointer;

	&, &:focus{
		outline: none;
	}

	@include transition(all .3s);
	&:hover, &.wpk-active {
		background: $main_red;
		color: $white !important;
		text-decoration: none;
	}
	&.wpk-disabled:not(.wpk-influencer-action) {
		color: #B0B0B0;
		&:hover, .wpk-active {
			background: $grey;
			color: #B0B0B0;
		}
	}
	&.wpk-grey {
		color: #B0B0B0;
		&:hover, .wpk-active {
			background: $main_red;
			color: $white;
		}
	}
}

.wpk-border-round-button {
	cursor: pointer;
	color: #444444;
	background: $white;
	border: 1px solid #D2D2D2;
	padding: 12px;
	@include horizontal_vertical_center();
	height: 50px;
	border-radius: 8px;
	margin-right: 10px;
	@include transition(all .3s);
	&:hover, &.wpk-active {
		background: $main_red;
		color: $white;
		text-decoration: none;
	}
	.wpk-tooltip-top {
		top: -108% !important;
		padding-left: 15px;
		padding-right: 15px;
	}
	.wpk-tooltip {
		top: 55px !important;
	}
	&.wpk-icon-button {
		flex-direction: column;
		height: auto;
		img {
			max-width: 90px;
			height: auto;
		}

	}
	i + span {
		margin-left: 10px;
	}
}

.wpk-two-inputs {
	display: flex;
	justify-content: space-between;
	@media(max-width: $tablet_small){
		margin-top: -13px !important;

	}
	> input, label, > div {
		@media(min-width: $tablet_small){
			width: 48% !important;
		}
		@media(max-width: $tablet_small){
			margin: 25px 0;
			width: 100% !important;
		}
		position: relative;
	}

}

.wpk-float-label {
	label {
		position: relative;
		margin-bottom: 0;
		.wpk-label {
			position: absolute;
			color: $text_grey;
			margin: 0 10px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			font-weight: 300;
			@include transition(all .3s);
			cursor: text;
			bottom: 10px;
			pointer-events: none;
    		user-select: none;
		}
		&.wpk-not-empty {
			.wpk-label {
				margin-bottom: 30px;
				color: #000000;
				margin-right: 0;
				margin-left: 0;
				font-weight: 400;
			}
		}
		input:focus, input:active {
			+ .wpk-label {
				margin-bottom: 30px;
				color: #000000;
				margin-right: 0;
				margin-left: 0;
				font-weight: 400;
			}
		}
	}
}

.wpk-upper-form {
	.wpk-input-container {
		width: 100%;
		margin-bottom: 40px;
		font-size: 30px;
		color: $black;
		input {
			width: 100%;
			color: $black;
			border: none;
			border-bottom: 1px solid $input_border;
			@media(min-width: $tablet_small){
				padding-bottom: 15px;
			}


			@include input-placeholder {
				color: $black;
			}
		}
		&.wpk-search-icon {
			&::after {
				bottom: 13px;
				font-size: 28px;
				color: $black;
			}
		}
	}
}

.wpk-location-icon{
	position: relative;
	&::after{
		content: '\E0C8';
		display: inline-block;
		position: absolute;
		font-size: 21px;
		font-family: 'Material Icons';
		bottom: 20px;
		left: 3px;
	}
	input{
		text-indent: 20px;
	}
}

.page-template-edit_campaign{
	.wpk-location-icon::after{
		bottom: 5px;
	}
}