$font_size: 20px;
.wpk-textarea-container, .wpk-conversation-field {
	.quicktags-toolbar {
		display: none;
	}
	.mce-btn {
		border: none;
		&:hover, &:focus, &.mce-active {
			border: 1px solid transparent !important;
			border-color: transparent !important;
			background: transparent !important;
			box-shadow: none !important;
			margin: 2px !important;
			.mce-ico {
				&::before {
					color: $black;
				}
			}
			.mce-open {
				border-left-color: transparent !important;
			}
		}
	}
	.wp-editor-container {
		border: none;
	}
	i.mce-ico {
		&.mce-i-bold::before {
			content: '\E238';
			font-family: 'Material Icons';
			font-size: $font_size;
			position: relative;
			top: 1px;
			color: #888888
		}
		&.mce-i-italic::before {
			content: '\E23F';
			font-family: 'Material Icons';
			font-size: $font_size;
			position: relative;
			top: 1px;
			color: #888888
		}
		&.mce-i-underline::before {
			content: '\E249';
			font-family: 'Material Icons';
			font-size: $font_size;
			position: relative;
			top: 1px;
			color: #888888
		}
		&.mce-i-forecolor::before {
			content: '\E23C';
			font-family: 'Material Icons';
			font-size: $font_size;
			position: relative;
			top: 1px;
			color: #888888

		}
		&.mce-i-blockquote::before {
			content: '\E244';
			font-family: 'Material Icons';
			font-size: $font_size;
			position: relative;
			top: 1px;
			color: #888888
		}
		&.mce-i-bullist::before {
			content: '\E241';
			font-family: 'Material Icons';
			font-size: $font_size;
			position: relative;
			top: 1px;
			color: #888888
		}
		&.mce-i-numlist::before {
			content: '\E242';
			font-family: 'Material Icons';
			font-size: $font_size;
			position: relative;
			top: 1px;
			color: #888888
		}
		&.mce-i-media::before {
			content: '\E410';
			font-family: 'Material Icons';
			font-size: 21px;
			position: relative;
			top: 1px;
			color: #888888
		}

	}

}