$border_color: #ECECEC;
.wpk-step-1 {
	font-family: 'Prompt';

	.wpk-campaign-creation-section {
		border-top: 1px solid $border_color;
		border-bottom: 1px solid $border_color;
		.wpk-campaign-creation-inner{
			display: flex;
			padding: $distance 0;
			align-items: center;
			flex-wrap: wrap;
			.wpk-step {
				width: 30px;
				height: 30px;
				background: red;
				border-radius: 50%;
				color: white;
				display: flex;
				font-size: 16px;
				align-items: center;
				justify-content: center;
				font-weight: 500;
			}
			.wpk-title {
				margin: 0 10px;
				font-weight: 500;
			}
		}
		.wpk-campaign-duration {
			.wpk-durations {
				display: flex;
				justify-content: space-evenly;
				flex-wrap: wrap;
				@media(max-width: $tablet_small){
					width: 100%;
					margin-top: 20px;
				}

				& > :first-child {
					margin: 0 !important;
				}
				.wpk-button {
					padding: 6px 27px;
					background: #F5F5F5;
					border-radius: 5px;
					font-weight: 500;
					margin: 0 10px;
					@media(max-width: $tablet_small){
						width: 20%;
						font-size: 13px;
						padding: 5px;
						text-align: center;
					}
					&:hover, &.wpk-active {
						background: $main_red;
						color: $white;
					}
				}
			}
		}
		.wpk-campaign-plans{
			width: 100%;
			display: flex;
			margin-top: 50px;
			justify-content: space-between;
			flex-wrap:wrap;
			@include transition(all .3s);
			&.wpk-opacity{
				opacity: 0 !important;
				height: 450px !important;
			}
			.wpk-campaign-plan-tab{
				height: 450px;
				justify-content: space-evenly;
				width: 30%;
				@media(max-width: $tablet_small){
					width: 100%;
					margin-bottom: 20px;
				}
				/*margin: 0 10px;*/
				border: 1px solid #DFE2E9;
				padding: 21px;
				border-radius: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				cursor: pointer;
				@include transition(all .3s);
				.wpk-plan-title{
					text-align: center;
					color: #666666;
					font-size: 14px;
				}
				.wpk-plan-price{
					text-align: center;
					.wpk-currency{
						position: relative;
						bottom: 50px;
					}
					.wpk-price{
						font-size: 81px;
						font-weight: bold;
						display: inline-block;
						@media(max-width: $tablet_small){
							font-size: 60px;
						}
					}
				}
				.wpk-plan-separator{
					width: 45px;
					background: $main_red;
					height: 2px;
					position: relative;
					bottom: 25px;
				}
				.wpk-plan-impressions{
					text-align: center;
					font-size: 18px;
				}
				.wpk-plan-buy{
					.wpk-button{
						border-radius: 25px;
						width: 125px;
						margin: 0 auto;
						text-align: center;
						padding: 11px 20px;
						background: $main_red;
						color: $white;
					}
				}
				&:hover, &.wpk-active{
					background: $main_red;
					color: $white;
					.wpk-plan-title{
						color: $white;
					}
					.wpk-button{
						background: $white;
						color: $main_red !important;
					}
				}
			}
		}

	}
	@media(max-width:$tablet_small){

		.wpk-form-step-1{
			> div:first-of-type{
				border-top: none;

			}
		}
	}
	.wpk-campaign-plan-tab.slick-slide:not(.slick-active) {
		@include transform(scale(0.9, 0.9) rotate3d(0, 1, 0 , 15deg));
	}
}