.wpk-step-3 {
	font-family: 'Prompt';
	&, #wpk_form {
		.wpk-quotation-mark {
			background: #888888;
			padding: 11px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: white;
			width: 20px;
			height: 20px;
			position: relative;
			left: 5px;
			font-size: 16px;
			top: 2px;
			cursor: help;
		}

		.wpk-input-container {
			margin: 20px 0;
			margin-top: 0;
			border-bottom: 1px solid $light_grey;
			width: 100%;
			.wpk-input-label {
				font-weight: 500;

				display: flex;
			}
			.wpk-input-container-inner {
				padding: 20px 0;
				width: 100%;
				input {
					color: #585858;
					width: 28%;
				}
			}
			.wpk-list-item {
				input {
					width: 20%;
					margin-right: 40px;
				}
				.wpk-add-more, .wpk-remove-item {
					padding: 10px 16px;
					color: #999999;
					margin-right: 40px;
					&:hover {
						color: $white;
					}
				}

			}

		}

		.wpk-file-input {
			border: none;
			.wpk-input-label{
				margin-bottom: 20px;
			}
		}

		.wpk-textarea-container {
			border-bottom: none;
		}

		.wpk-campaign-title {
			width: 100%;
			input {
				width: 40% !important;
				font-size: 30px;
			}
		}
		.wpk-campaign-description {

		}

		#wp-description-wrap {
			border-bottom: 1px solid $light_grey;
			.wp-editor-tabs {
				display: none;
			}
			.mce-toolbar-grp {
				min-width: 292px;
				width: 21%;
				border: none;
				padding: 10px;
				margin-bottom: 20px;
			}
			.mce-panel {
				border-bottom: none !important;
			}
			#mceu_20{
				margin-top: 20px;
			}
			#mceu_19{
				border-bottom: 1px solid #B0B0B0 !important;
			}
		}
		#wp-description-editor-container.wpk-has-error{
			#mceu_19{
				border-bottom: 1px solid $main_red !important;
			}
		}


		.wpk-submit-container {
			margin-left: 0;
			.wpk-button {
				margin-right: 40px;
			}
		}
		.wpk-flex {
			&.wpk-image-actions {
				span:not(:first-of-type) {
					margin-left: 8px;
				}
			}
		}
	}
}

.wpk-sidebar-form {
	padding-top: 0 !important;
	.wpk-input-container {
		width: 100%;
		.wpk-input-container-inner {
			&.wpk-has-error{
				input{
					&:not(.select2-search__field) {
						border: 1px solid $main_red !important;
						&:focus {
							border: 1px solid $main_red !important;
						}
					}
				}
			}
			.wpk-input-label {
				font-weight: 500;
				margin-bottom: 20px;
			}
			input {
				width: 100%;
				padding: 23px 0;
				text-indent: 15px;
				&:not(.select2-search__field) {
					border: 1px solid #ececec !important;
					&.wpk-bottom-border{
						border: none !important;
						border-bottom: 1px solid #e0e0e0 !important;
					}
					&:focus {
						border: 1px solid #d2d2d2 !important;
						&.wpk-bottom-border{
							border: none !important;
							border-bottom: 1px solid #d2d2d2 !important
						}
					}
				}
			}
		}

		.wpk-file-input-target {
			width: 100px;
			height: 100px;

			.wpk-add {
				i {
					font-size: 20px;
				}
			}
		}
		.wpk-image-actions {
			height: auto;
			margin-top: 0;
			position: relative;
			top: 16px;
		}
	}
	.wpk-select-container {
		span.select2.select2-container.select2-container--default {
			background: white;
			width: 100% !important;
			border: none;
		}
		.select2-selection--multiple {
			border: 1px solid #ececec;
		}
		.select2-container--focus {
			.select2-selection--multiple {
				border: 1px solid #d2d2d2;
			}
		}
		.select2-selection__rendered {
			position: relative;
			height: 100%;
		}
	}
}