.woocommerce {
	h3 {
		font-size: 18px;
		margin-top: 32px;
		margin-bottom: 20px;
	}
	.wpk-payment-methods {
		display: flex;
		flex-wrap: wrap;
		.wpk-button {
			@include horizontal_vertical_center();
			background: $white;
			border: 1px solid $sidebar_border;
			margin-right: 26px;
			border-radius: 10px;
			max-width: 125px;
			text-align: center;
			@include red_background_hover(true);
			img{
				&.wpk-active-image{
					display: none;
				}
			}
			&:hover, &.wpk-active{
				img{
					&.wpk-default-image{
						display: none;
					}
					&.wpk-active-image{
						display: block;
					}
				}
			}
		}
	}
	.product-quantity {
		display: none;
	}
	.place-order {
		justify-content: flex-end;
		#place_order {
			background: $main_red;
			color: $white;
			margin-bottom: 40px;
			&:hover {
				background: $main_red !important;
				color: $white;
			}
		}
	}
	.shop_table {

		tr {
			&.cart_item{
				border-bottom: none;
			}
			&.wpk-placeholder{
				height: 50px;
				border-top: none;
			}
			th, td, span {
				font-weight: 400 !important;
			}
			.product-name{
				font-weight: 500 !important;
			}
		}

	}
	#shipping_method, .wc_payment_methods{
		display: none;
	}
	#place_order{
		    margin-right: 5px;
    margin-top: 30px;
	}
}
