.mkd-position-center {
	width: 60%;
}

.mkd-position-right {
	max-width: 50%;
	top: 5px;
	right: 17px;
	.wpk-notification {
		position: relative;
		cursor: pointer;
		@include transition(all .3s);
		&:hover {
			/*@include transform(scale(0.9, 0.9))*/
		}
		.wpk-notification-counter {
			display: none;
			position: absolute;
			top: -6px;
			left: 6px;
			width: 20px;
			height: 20px;
			background: #000;
			font-size: 15px;
			text-align: center;
			border-radius: 50%;
			line-height: 18px;
			&.wpk-has-notifications{
				display: block;
			}
		}

		i {
			display: block;
		}

		&.wpk-sub {
			position: relative;
			&:hover{
				.wpk-submenu{
					opacity: 0;
					visibility: hidden;
				}
			}
			/*&:hover,*/ &.wpk-active {
				.wpk-submenu {
					top: 39px;
					opacity: 1;
					visibility: visible;

				}
			}
			&:hover {
				.wpk-submenu {

				}
			}
		}

		.wpk-submenu {
			width: 400px;
			right: -22px;
			top: 29px;
		}
	}

	.wpk-separator {
		float: left;
		width: 10px;
		margin: 0 10px;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.wpk-notification-wrap {
		float: left;
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
		right: 10px;
		bottom: 2px;
	}


	.wpk-sub {
		&:hover {
			.wpk-submenu {
				top: 51px;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.wpk-submenu {

		position: absolute;
		z-index: 99999;
		background: #333333;
		width: 200px;
		text-align: left;
		padding: 0;
		right: -15px;
		list-style: none;
		@include transition(all .3s);
		top: 41px;
		opacity: 0;
		visibility: hidden;

		&::after {
			content: '';
			position: absolute;
			top: -16px;
			right: 1.5em;
			z-index: 999999999999;
			width: 0;
			border: 10px solid transparent;
			border-bottom: 8px solid #28292b;
			transition: top 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transition-delay: .2s;
			display: block;
			height: 0;
		}
		li {
			&:not(.wpk-separator) {
				padding: 13px 15px;
				a {
					color: #A0A0A0;
				}
				&:not(.wpk-hover-ignore) {
					&::before {
						float: left;
						width: 5px;
						height: 5px;
						content: '';
						background: $main_red;
						position: relative;
						top: 9px;
						border-radius: 50%;
						opacity: 0;
						@include transition(all .3s);

					}
					&:hover, &.wpk-active {
						a {
							color: $white;
						}

						&::before {
							margin-right: 10px;
							opacity: 1;
						}
					}
				}

			}
			&.wpk-separator {
				width: 100%;
				height: 1px;
				background: #7c848a;
				padding: 0;
				float: none;
				display: block;
				margin: 0;
			}
		}
	}

	.wpk-header-avatar-inner {

		float: right;
		height: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;
		left: 10px;
		&:hover {
			.wpk-username::after {
				@include transform(scale(1, 1));
			}
			a {
				color: $white;
				text-decoration: none;
			}
		}
		.wpk-username {
			&::after {
				width: 100%;
				content: '';
				background: white;
				height: 1px;
				clear: both;
				display: block;
				@include transition(transform .3s);
				@include transform(scale(0.1, 0.1));
			}
			&:hover {
				&::after {
					@include transform(scale(1, 1));
				}
				a {
					color: $white;
					text-decoration: none;
				}
			}

		}
		.wpk-avatar-outer {
			    width: 40px;
    height: 40px;
    background: $white;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    bottom: 2px;
    left: 3px;
			.wpk-avatar {
				img {
					    border-radius: 50%;
    background: $white;
    padding: 2px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    object-fit: cover;
				}

			}

		}

	}

}

@media(max-width:$tablet_small){
	.wpk-username{
		display: none;
	}
	.wpk-header-avatar-inner{
		left: -7px;
		top: 5px;
		.wpk-submenu{
			display: none !important;
		}
	}
	.wpk-avatar-outer{
		margin-left: 0 !important;
		left: 0 !important;
	}
	.wpk-separator{
		margin: 0 6px !important;
		width: 7px !important;
		font-weight: 100;
	}
	.wpk-notification-wrap{
		right: 3px;
	}
	.wpk-notifications{
		right: -72px !important;
		top: 45px !important;
		width: 300px !important;
		&::after{
			right: 73px !important;
		}
	}


}

.wpk-mobile-profile{
	visibility: hidden;
	opacity: 0;
	background: #393939;
	@include transition(all .3s);
	&.wpk-active{
		opacity: 0.95;
		visibility: visible;
	}
	.wpk-modal-inner{
		@include horizontal_vertical_center(column);
		.wpk-avatar{
			width: 120px;
			height: 120px;
			border-radius: 50%;
			background: $white;
			@include horizontal_vertical_center();
			img{
				width: 110px;
				height: 110px;
				border-radius: 50%;
			}
		}
		.wpk-username{
			display: block;
			margin-top: 10px;
			margin-bottom: 30px;
			&::after{
				content : '';
				background: $main_red;
				height: 2px;
				width: 35px;
				display: block;
				margin: 0 auto;
				margin-top: 8px;
			}
		}
		ul{
			li{
				list-style: none;
				text-align: center;
				margin: 30px 0;
				a{
					color: #6A6767;
					@include transition(all .3s);

				}

				&:hover a, &.wpk-active a{
					text-decoration: none;
					color: $white;
				}
			}
		}
	}

}