li.wpk-notification {
	@include transition(all .3s);
	@include horizontal_vertical_center();
	position: relative;
	> div {
		margin: 5px;
	}
	.wpk-notification-image {
		max-width: 50px;
		margin-right: 5px;
	}
	.wpk-notification-message {
		font-size: 12px;
		max-width: 200px;
	}
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $white !important;
		flex-grow: 1;
	}
	.wpk-notification-actions {
		@include horizontal_vertical_center();
		flex-wrap: wrap;
		> div {
			flex-grow: 1;
			margin: 0 3px;
			.wpk-tooltip {
				width: 200px;
				left: -96px;
				&::after {
					right: 83px;
				}
			}
		}
	}
}

.wpk-notification-discarded{
	width: 100%;
	margin-left: 250px;
	opacity: 0;
}
